ws/portafib_api/src/main/resources/wsdl/PortaFIBUsuariEntitat_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PortaFIBUsuariEntitatWsService" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:ns2="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema targetNamespace="http://jaxb.dev.java.net/array" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="#all" name="stringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="wsI18NTranslation">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="tns:wsI18NArgument" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsI18NArgument">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:string" />
<xs:element name="translate" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsFieldValidationError">
<xs:sequence>
<xs:element name="label" type="xs:string" />
<xs:element name="field" type="xs:string" />
<xs:element name="translation" type="tns:wsI18NTranslation" />
<xs:element name="error" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="usuariEntitatBean">
<xs:sequence>
<xs:element name="actiu" type="xs:boolean" />
<xs:element minOccurs="0" name="carrec" type="xs:string" />
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
<xs:element minOccurs="0" name="logoSegell" type="tns:fitxerBean" />
<xs:element minOccurs="0" name="logoSegellID" type="xs:long" />
<xs:element minOccurs="0" name="potCustodiar" type="xs:boolean" />
<xs:element name="predeterminat" type="xs:boolean" />
<xs:element name="rebreTotsElsAvisos" type="xs:boolean" />
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
<xs:element minOccurs="0" name="usuariPersonaID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="fitxerBean">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="xs:base64Binary" />
<xs:element minOccurs="0" name="descripcio" type="xs:string" />
<xs:element minOccurs="0" name="encryptedFileID" type="xs:string" />
<xs:element name="fitxerID" type="xs:long" />
<xs:element minOccurs="0" name="mime" type="xs:string" />
<xs:element minOccurs="0" name="nom" type="xs:string" />
<xs:element name="tamany" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="carrecWs">
<xs:sequence>
<xs:element name="actiu" type="xs:boolean" />
<xs:element minOccurs="0" name="carrecID" type="xs:string" />
<xs:element minOccurs="0" name="carrecName" type="xs:string" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
<xs:element minOccurs="0" name="usuariPersonaID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="usuariPersonaBean">
<xs:sequence>
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="idiomaID" type="xs:string" />
<xs:element minOccurs="0" name="llinatges" type="xs:string" />
<xs:element minOccurs="0" name="nif" type="xs:string" />
<xs:element minOccurs="0" name="nom" type="xs:string" />
<xs:element minOccurs="0" name="rubrica" type="tns:fitxerBean" />
<xs:element minOccurs="0" name="rubricaID" type="xs:long" />
<xs:element minOccurs="0" name="usuariPersonaID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="carrecWsArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:carrecWs" />
</xs:sequence>
</xs:complexType>
<xs:element name="WsI18NError" type="tns:WsI18NError" />
<xs:complexType name="WsI18NError">
<xs:sequence>
<xs:element name="translation" nillable="true" type="tns:wsI18NTranslation" />
</xs:sequence>
</xs:complexType>
<xs:element name="WsValidationErrors" type="tns:WsValidationErrors" />
<xs:complexType name="WsValidationErrors">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="fieldFaults" type="tns:wsFieldValidationError" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createUsuariEntitatSimpleResponse">
    <wsdl:part name="return" type="tns:usuariEntitatBean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsValidationException">
    <wsdl:part element="tns:WsValidationErrors" name="WsValidationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatIDResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariEntitatSimple">
    <wsdl:part name="administrationID" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="entitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCarrec">
    <wsdl:part name="carrec" type="tns:carrecWs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatResponse">
    <wsdl:part name="return" type="tns:usuariEntitatBean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecsByEntitatIDResponse">
    <wsdl:part name="return" type="tns:carrecWsArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariPersona">
    <wsdl:part name="usuariPersonaID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatIDByAdministrationID">
    <wsdl:part name="administrationID" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="entitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRoleSolicitantResponse">
  </wsdl:message>
  <wsdl:message name="createCarrecSimpleResponse">
    <wsdl:part name="return" type="tns:carrecWs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersion">
  </wsdl:message>
  <wsdl:message name="addRoleSolicitant">
    <wsdl:part name="usuariEntitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariPersona">
    <wsdl:part name="usuariPersonaBean" type="tns:usuariPersonaBean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateCarrecResponse">
  </wsdl:message>
  <wsdl:message name="addRoleSolicitantResponse">
  </wsdl:message>
  <wsdl:message name="getSupportedLanguagesResponse">
    <wsdl:part name="return" type="ns1:stringArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRoleAdministradorDeEntitat">
    <wsdl:part name="usuariEntitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileID">
    <wsdl:part name="arg0" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariPersonaIDByAdministrationIDResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecsByEntitatID">
    <wsdl:part name="entitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateUsuariEntitat">
    <wsdl:part name="usuariEntitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatIDInMyEntitatByAdministrationIDResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrec">
    <wsdl:part name="carrecID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariEntitatResponse">
    <wsdl:part name="return" type="tns:usuariEntitatBean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRoleAdministradorDeEntitatResponse">
  </wsdl:message>
  <wsdl:message name="activateCarrecResponse">
  </wsdl:message>
  <wsdl:message name="deleteUsuariEntitatResponse">
  </wsdl:message>
  <wsdl:message name="getInfoFromPluginUserInfo">
    <wsdl:part name="administrationID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecsOfMyEntitatResponse">
    <wsdl:part name="return" type="tns:carrecWsArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariPersonaResponse">
  </wsdl:message>
  <wsdl:message name="deleteUsuariEntitat">
    <wsdl:part name="usuariEntitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRoleAdministradorDeEntitat">
    <wsdl:part name="usuariEntitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariEntitat">
    <wsdl:part name="usuariEntitatBean" type="tns:usuariEntitatBean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateUsuariEntitat">
    <wsdl:part name="usuariEntitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
  </wsdl:message>
  <wsdl:message name="getInfoFromPluginUserInfoResponse">
    <wsdl:part name="return" type="tns:usuariPersonaBean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsuariPersona">
    <wsdl:part name="usuariPersonaID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariPersonaIDByAdministrationID">
    <wsdl:part name="administrationID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCarrec">
    <wsdl:part name="carrecID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatID">
  </wsdl:message>
  <wsdl:message name="createCarrecResponse">
  </wsdl:message>
  <wsdl:message name="removeRoleSolicitant">
    <wsdl:part name="usuariEntitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateUsuariEntitatResponse">
  </wsdl:message>
  <wsdl:message name="WsI18NException">
    <wsdl:part element="tns:WsI18NError" name="WsI18NException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateCarrec">
    <wsdl:part name="carrecID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatIDInMyEntitatByAdministrationID">
    <wsdl:part name="administrationID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatIDByAdministrationIDResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitat">
    <wsdl:part name="usuariEntitatID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part name="return" type="xsd:int">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguages">
  </wsdl:message>
  <wsdl:message name="deleteUsuariPersonaResponse">
  </wsdl:message>
  <wsdl:message name="updateAdministrationIDOfCarrecResponse">
  </wsdl:message>
  <wsdl:message name="getCarrecResponse">
    <wsdl:part name="return" type="tns:carrecWs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateCarrec">
    <wsdl:part name="carrecID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecsOfMyEntitat">
  </wsdl:message>
  <wsdl:message name="getUsuariPersonaResponse">
    <wsdl:part name="return" type="tns:usuariPersonaBean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRoleAdministradorDeEntitatResponse">
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileIDResponse">
    <wsdl:part name="return" type="tns:fitxerBean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAdministrationIDOfCarrec">
    <wsdl:part name="carrecID" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="administrationID" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCarrecSimple">
    <wsdl:part name="administrationID" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="entitatID" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="carrecUsername" type="xsd:string">
    </wsdl:part>
    <wsdl:part name="carrecName" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCarrecResponse">
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="return" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateUsuariEntitatResponse">
  </wsdl:message>
  <wsdl:portType name="PortaFIBUsuariEntitatWs">
    <wsdl:operation name="updateAdministrationIDOfCarrec">
      <wsdl:input message="tns:updateAdministrationIDOfCarrec" name="updateAdministrationIDOfCarrec">
    </wsdl:input>
      <wsdl:output message="tns:updateAdministrationIDOfCarrecResponse" name="updateAdministrationIDOfCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEntitatID">
      <wsdl:input message="tns:getEntitatID" name="getEntitatID">
    </wsdl:input>
      <wsdl:output message="tns:getEntitatIDResponse" name="getEntitatIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUsuariEntitatSimple">
      <wsdl:input message="tns:createUsuariEntitatSimple" name="createUsuariEntitatSimple">
    </wsdl:input>
      <wsdl:output message="tns:createUsuariEntitatSimpleResponse" name="createUsuariEntitatSimpleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarrecsOfMyEntitat">
      <wsdl:input message="tns:getCarrecsOfMyEntitat" name="getCarrecsOfMyEntitat">
    </wsdl:input>
      <wsdl:output message="tns:getCarrecsOfMyEntitatResponse" name="getCarrecsOfMyEntitatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCarrec">
      <wsdl:input message="tns:createCarrec" name="createCarrec">
    </wsdl:input>
      <wsdl:output message="tns:createCarrecResponse" name="createCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activateCarrec">
      <wsdl:input message="tns:activateCarrec" name="activateCarrec">
    </wsdl:input>
      <wsdl:output message="tns:activateCarrecResponse" name="activateCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input message="tns:getVersionWs" name="getVersionWs">
    </wsdl:input>
      <wsdl:output message="tns:getVersionWsResponse" name="getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitatIDInMyEntitatByAdministrationID">
      <wsdl:input message="tns:getUsuariEntitatIDInMyEntitatByAdministrationID" name="getUsuariEntitatIDInMyEntitatByAdministrationID">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariEntitatIDInMyEntitatByAdministrationIDResponse" name="getUsuariEntitatIDInMyEntitatByAdministrationIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateUsuariEntitat">
      <wsdl:input message="tns:deactivateUsuariEntitat" name="deactivateUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:deactivateUsuariEntitatResponse" name="deactivateUsuariEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariPersonaIDByAdministrationID">
      <wsdl:input message="tns:getUsuariPersonaIDByAdministrationID" name="getUsuariPersonaIDByAdministrationID">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariPersonaIDByAdministrationIDResponse" name="getUsuariPersonaIDByAdministrationIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariPersona">
      <wsdl:input message="tns:deleteUsuariPersona" name="deleteUsuariPersona">
    </wsdl:input>
      <wsdl:output message="tns:deleteUsuariPersonaResponse" name="deleteUsuariPersonaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitat">
      <wsdl:input message="tns:getUsuariEntitat" name="getUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariEntitatResponse" name="getUsuariEntitatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCarrecSimple">
      <wsdl:input message="tns:createCarrecSimple" name="createCarrecSimple">
    </wsdl:input>
      <wsdl:output message="tns:createCarrecSimpleResponse" name="createCarrecSimpleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateCarrec">
      <wsdl:input message="tns:deactivateCarrec" name="deactivateCarrec">
    </wsdl:input>
      <wsdl:output message="tns:deactivateCarrecResponse" name="deactivateCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoleSolicitant">
      <wsdl:input message="tns:removeRoleSolicitant" name="removeRoleSolicitant">
    </wsdl:input>
      <wsdl:output message="tns:removeRoleSolicitantResponse" name="removeRoleSolicitantResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariPersona">
      <wsdl:input message="tns:getUsuariPersona" name="getUsuariPersona">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariPersonaResponse" name="getUsuariPersonaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activateUsuariEntitat">
      <wsdl:input message="tns:activateUsuariEntitat" name="activateUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:activateUsuariEntitatResponse" name="activateUsuariEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInfoFromPluginUserInfo">
      <wsdl:input message="tns:getInfoFromPluginUserInfo" name="getInfoFromPluginUserInfo">
    </wsdl:input>
      <wsdl:output message="tns:getInfoFromPluginUserInfoResponse" name="getInfoFromPluginUserInfoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersion" name="getVersion">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRoleAdministradorDeEntitat">
      <wsdl:input message="tns:addRoleAdministradorDeEntitat" name="addRoleAdministradorDeEntitat">
    </wsdl:input>
      <wsdl:output message="tns:addRoleAdministradorDeEntitatResponse" name="addRoleAdministradorDeEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariPersona">
      <wsdl:input message="tns:createUsuariPersona" name="createUsuariPersona">
    </wsdl:input>
      <wsdl:output message="tns:createUsuariPersonaResponse" name="createUsuariPersonaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarrec">
      <wsdl:input message="tns:getCarrec" name="getCarrec">
    </wsdl:input>
      <wsdl:output message="tns:getCarrecResponse" name="getCarrecResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarrecsByEntitatID">
      <wsdl:input message="tns:getCarrecsByEntitatID" name="getCarrecsByEntitatID">
    </wsdl:input>
      <wsdl:output message="tns:getCarrecsByEntitatIDResponse" name="getCarrecsByEntitatIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <wsdl:input message="tns:getSupportedLanguages" name="getSupportedLanguages">
    </wsdl:input>
      <wsdl:output message="tns:getSupportedLanguagesResponse" name="getSupportedLanguagesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRoleSolicitant">
      <wsdl:input message="tns:addRoleSolicitant" name="addRoleSolicitant">
    </wsdl:input>
      <wsdl:output message="tns:addRoleSolicitantResponse" name="addRoleSolicitantResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariEntitat">
      <wsdl:input message="tns:createUsuariEntitat" name="createUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:createUsuariEntitatResponse" name="createUsuariEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitatIDByAdministrationID">
      <wsdl:input message="tns:getUsuariEntitatIDByAdministrationID" name="getUsuariEntitatIDByAdministrationID">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariEntitatIDByAdministrationIDResponse" name="getUsuariEntitatIDByAdministrationIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariEntitat">
      <wsdl:input message="tns:deleteUsuariEntitat" name="deleteUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:deleteUsuariEntitatResponse" name="deleteUsuariEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <wsdl:input message="tns:downloadFileUsingEncryptedFileID" name="downloadFileUsingEncryptedFileID">
    </wsdl:input>
      <wsdl:output message="tns:downloadFileUsingEncryptedFileIDResponse" name="downloadFileUsingEncryptedFileIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoleAdministradorDeEntitat">
      <wsdl:input message="tns:removeRoleAdministradorDeEntitat" name="removeRoleAdministradorDeEntitat">
    </wsdl:input>
      <wsdl:output message="tns:removeRoleAdministradorDeEntitatResponse" name="removeRoleAdministradorDeEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCarrec">
      <wsdl:input message="tns:deleteCarrec" name="deleteCarrec">
    </wsdl:input>
      <wsdl:output message="tns:deleteCarrecResponse" name="deleteCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortaFIBUsuariEntitatWsServiceSoapBinding" type="tns:PortaFIBUsuariEntitatWs">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEntitatID">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getEntitatID">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getEntitatIDResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAdministrationIDOfCarrec">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="updateAdministrationIDOfCarrec">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="updateAdministrationIDOfCarrecResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariEntitatSimple">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createUsuariEntitatSimple">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="createUsuariEntitatSimpleResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarrecsOfMyEntitat">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getCarrecsOfMyEntitat">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarrecsOfMyEntitatResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateCarrec">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="activateCarrec">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="activateCarrecResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCarrec">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createCarrec">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="createCarrecResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitatIDInMyEntitatByAdministrationID">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getUsuariEntitatIDInMyEntitatByAdministrationID">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariEntitatIDInMyEntitatByAdministrationIDResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getVersionWs">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deactivateUsuariEntitat">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deactivateUsuariEntitat">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="deactivateUsuariEntitatResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariPersona">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deleteUsuariPersona">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUsuariPersonaResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariPersonaIDByAdministrationID">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getUsuariPersonaIDByAdministrationID">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariPersonaIDByAdministrationIDResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitat">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getUsuariEntitat">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariEntitatResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCarrecSimple">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createCarrecSimple">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="createCarrecSimpleResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateCarrec">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deactivateCarrec">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="deactivateCarrecResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoleSolicitant">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="removeRoleSolicitant">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="removeRoleSolicitantResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariPersona">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getUsuariPersona">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariPersonaResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activateUsuariEntitat">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="activateUsuariEntitat">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="activateUsuariEntitatResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInfoFromPluginUserInfo">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getInfoFromPluginUserInfo">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getInfoFromPluginUserInfoResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getVersion">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRoleAdministradorDeEntitat">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="addRoleAdministradorDeEntitat">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="addRoleAdministradorDeEntitatResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariPersona">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createUsuariPersona">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="createUsuariPersonaResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarrec">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getCarrec">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarrecResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarrecsByEntitatID">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getCarrecsByEntitatID">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarrecsByEntitatIDResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRoleSolicitant">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="addRoleSolicitant">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="addRoleSolicitantResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getSupportedLanguages">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedLanguagesResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariEntitat">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createUsuariEntitat">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="createUsuariEntitatResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitatIDByAdministrationID">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="getUsuariEntitatIDByAdministrationID">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariEntitatIDByAdministrationIDResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariEntitat">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deleteUsuariEntitat">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUsuariEntitatResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="downloadFileUsingEncryptedFileID">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadFileUsingEncryptedFileIDResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCarrec">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deleteCarrec">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteCarrecResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoleAdministradorDeEntitat">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="removeRoleAdministradorDeEntitat">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:input>
      <wsdl:output name="removeRoleAdministradorDeEntitatResponse">
        <soap:body namespace="http://impl.v1.ws.portafib.caib.es/" use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortaFIBUsuariEntitatWsService">
    <wsdl:port binding="tns:PortaFIBUsuariEntitatWsServiceSoapBinding" name="PortaFIBUsuariEntitatWs">
      <soap:address location="http://ibit151:8080/portafib/ws/v1/PortaFIBUsuariEntitat" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>