ws/portafib_api/src/main/resources/wsdl/PortaFIBUsuariAplicacio_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PortaFIBUsuariAplicacioWsService" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="addRolAdminToUsuariAplicacio" type="tns:addRolAdminToUsuariAplicacio" />
<xs:element name="addRolAdminToUsuariAplicacioResponse" type="tns:addRolAdminToUsuariAplicacioResponse" />
<xs:element name="addRolUserToUsuariAplicacio" type="tns:addRolUserToUsuariAplicacio" />
<xs:element name="addRolUserToUsuariAplicacioResponse" type="tns:addRolUserToUsuariAplicacioResponse" />
<xs:element name="createUsuariAplicacio" type="tns:createUsuariAplicacio" />
<xs:element name="createUsuariAplicacioResponse" type="tns:createUsuariAplicacioResponse" />
<xs:element name="deleteUsuariAplicacio" type="tns:deleteUsuariAplicacio" />
<xs:element name="deleteUsuariAplicacioResponse" type="tns:deleteUsuariAplicacioResponse" />
<xs:element name="downloadFileUsingEncryptedFileID" type="tns:downloadFileUsingEncryptedFileID" />
<xs:element name="downloadFileUsingEncryptedFileIDResponse" type="tns:downloadFileUsingEncryptedFileIDResponse" />
<xs:element name="getEntitatID" type="tns:getEntitatID" />
<xs:element name="getEntitatIDResponse" type="tns:getEntitatIDResponse" />
<xs:element name="getSupportedLanguages" type="tns:getSupportedLanguages" />
<xs:element name="getSupportedLanguagesResponse" type="tns:getSupportedLanguagesResponse" />
<xs:element name="getUsuariAplicacio" type="tns:getUsuariAplicacio" />
<xs:element name="getUsuariAplicacioResponse" type="tns:getUsuariAplicacioResponse" />
<xs:element name="getVersion" type="tns:getVersion" />
<xs:element name="getVersionResponse" type="tns:getVersionResponse" />
<xs:element name="getVersionWs" type="tns:getVersionWs" />
<xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse" />
<xs:element name="listUsuariAplicacio" type="tns:listUsuariAplicacio" />
<xs:element name="listUsuariAplicacioResponse" type="tns:listUsuariAplicacioResponse" />
<xs:element name="removeRolAdminToUsuariAplicacio" type="tns:removeRolAdminToUsuariAplicacio" />
<xs:element name="removeRolAdminToUsuariAplicacioResponse" type="tns:removeRolAdminToUsuariAplicacioResponse" />
<xs:element name="removeRolUserToUsuariAplicacio" type="tns:removeRolUserToUsuariAplicacio" />
<xs:element name="removeRolUserToUsuariAplicacioResponse" type="tns:removeRolUserToUsuariAplicacioResponse" />
<xs:complexType name="getEntitatID">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getEntitatIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getVersionWs">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionWsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUsuariAplicacio">
<xs:sequence>
<xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUsuariAplicacioResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="wsI18NTranslation">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="tns:wsI18NArgument" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsI18NArgument">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:string" />
<xs:element name="translate" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="listUsuariAplicacio">
<xs:sequence>
<xs:element minOccurs="0" name="usuariAplicacioFilterWs" type="tns:usuariAplicacioFilterWs" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="usuariAplicacioFilterWs">
<xs:sequence>
<xs:element minOccurs="0" name="filterByActiu" type="xs:boolean" />
<xs:element minOccurs="0" name="filterByCallBackURL" type="xs:string" />
<xs:element minOccurs="0" name="filterByEntitatID" type="xs:string" />
<xs:element minOccurs="0" name="filterByUsuariAplicacioID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="listUsuariAplicacioResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:usuariAplicacioBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="usuariAplicacioBean">
<xs:sequence>
<xs:element name="actiu" type="xs:boolean" />
<xs:element minOccurs="0" name="callbackURL" type="xs:string" />
<xs:element name="callbackVersio" type="xs:int" />
<xs:element minOccurs="0" name="contrasenya" type="xs:string" />
<xs:element minOccurs="0" name="descripcio" type="xs:string" />
<xs:element minOccurs="0" name="emailAdmin" type="xs:string" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
<xs:element minOccurs="0" name="idiomaID" type="xs:string" />
<xs:element minOccurs="0" name="logoSegell" type="tns:fitxerBean" />
<xs:element minOccurs="0" name="logoSegellID" type="xs:long" />
<xs:element minOccurs="0" name="potCustodiar" type="xs:boolean" />
<xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="fitxerBean">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="xs:base64Binary" />
<xs:element minOccurs="0" name="descripcio" type="xs:string" />
<xs:element minOccurs="0" name="encryptedFileID" type="xs:string" />
<xs:element name="fitxerID" type="xs:long" />
<xs:element minOccurs="0" name="mime" type="xs:string" />
<xs:element minOccurs="0" name="nom" type="xs:string" />
<xs:element name="tamany" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeRolUserToUsuariAplicacio">
<xs:sequence>
<xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeRolUserToUsuariAplicacioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRolAdminToUsuariAplicacio">
<xs:sequence>
<xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRolAdminToUsuariAplicacioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createUsuariAplicacio">
<xs:sequence>
<xs:element minOccurs="0" name="usuariAplicacioBean" type="tns:usuariAplicacioBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createUsuariAplicacioResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="wsFieldValidationError">
<xs:sequence>
<xs:element name="label" type="xs:string" />
<xs:element name="field" type="xs:string" />
<xs:element name="translation" type="tns:wsI18NTranslation" />
<xs:element name="error" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getVersion">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariAplicacio">
<xs:sequence>
<xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariAplicacioResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:usuariAplicacioBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSupportedLanguages">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getSupportedLanguagesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="downloadFileUsingEncryptedFileID">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="downloadFileUsingEncryptedFileIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:fitxerBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRolUserToUsuariAplicacio">
<xs:sequence>
<xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRolUserToUsuariAplicacioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeRolAdminToUsuariAplicacio">
<xs:sequence>
<xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeRolAdminToUsuariAplicacioResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:element name="WsI18NError" type="tns:WsI18NError" />
<xs:complexType name="WsI18NError">
<xs:sequence>
<xs:element name="translation" nillable="true" type="tns:wsI18NTranslation" />
</xs:sequence>
</xs:complexType>
<xs:element name="WsValidationErrors" type="tns:WsValidationErrors" />
<xs:complexType name="WsValidationErrors">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="fieldFaults" type="tns:wsFieldValidationError" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="removeRolAdminToUsuariAplicacioResponse">
    <wsdl:part element="tns:removeRolAdminToUsuariAplicacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsValidationException">
    <wsdl:part element="tns:WsValidationErrors" name="WsValidationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUsuariAplicacio">
    <wsdl:part element="tns:listUsuariAplicacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariAplicacioResponse">
    <wsdl:part element="tns:createUsuariAplicacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRolAdminToUsuariAplicacio">
    <wsdl:part element="tns:removeRolAdminToUsuariAplicacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUsuariAplicacioResponse">
    <wsdl:part element="tns:listUsuariAplicacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatIDResponse">
    <wsdl:part element="tns:getEntitatIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part element="tns:getVersionWs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatID">
    <wsdl:part element="tns:getEntitatID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsuariAplicacio">
    <wsdl:part element="tns:deleteUsuariAplicacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsuariAplicacioResponse">
    <wsdl:part element="tns:deleteUsuariAplicacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRolUserToUsuariAplicacioResponse">
    <wsdl:part element="tns:addRolUserToUsuariAplicacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsI18NException">
    <wsdl:part element="tns:WsI18NError" name="WsI18NException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part element="tns:getVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRolUserToUsuariAplicacio">
    <wsdl:part element="tns:removeRolUserToUsuariAplicacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRolUserToUsuariAplicacio">
    <wsdl:part element="tns:addRolUserToUsuariAplicacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part element="tns:getVersionWsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguages">
    <wsdl:part element="tns:getSupportedLanguages" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRolAdminToUsuariAplicacio">
    <wsdl:part element="tns:addRolAdminToUsuariAplicacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRolAdminToUsuariAplicacioResponse">
    <wsdl:part element="tns:addRolAdminToUsuariAplicacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariAplicacioResponse">
    <wsdl:part element="tns:getUsuariAplicacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguagesResponse">
    <wsdl:part element="tns:getSupportedLanguagesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileID">
    <wsdl:part element="tns:downloadFileUsingEncryptedFileID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariAplicacio">
    <wsdl:part element="tns:createUsuariAplicacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRolUserToUsuariAplicacioResponse">
    <wsdl:part element="tns:removeRolUserToUsuariAplicacioResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileIDResponse">
    <wsdl:part element="tns:downloadFileUsingEncryptedFileIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariAplicacio">
    <wsdl:part element="tns:getUsuariAplicacio" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="tns:getVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PortaFIBUsuariAplicacioWs">
    <wsdl:operation name="getEntitatID">
      <wsdl:input message="tns:getEntitatID" name="getEntitatID">
    </wsdl:input>
      <wsdl:output message="tns:getEntitatIDResponse" name="getEntitatIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input message="tns:getVersionWs" name="getVersionWs">
    </wsdl:input>
      <wsdl:output message="tns:getVersionWsResponse" name="getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariAplicacio">
      <wsdl:input message="tns:deleteUsuariAplicacio" name="deleteUsuariAplicacio">
    </wsdl:input>
      <wsdl:output message="tns:deleteUsuariAplicacioResponse" name="deleteUsuariAplicacioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="listUsuariAplicacio">
      <wsdl:input message="tns:listUsuariAplicacio" name="listUsuariAplicacio">
    </wsdl:input>
      <wsdl:output message="tns:listUsuariAplicacioResponse" name="listUsuariAplicacioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRolUserToUsuariAplicacio">
      <wsdl:input message="tns:removeRolUserToUsuariAplicacio" name="removeRolUserToUsuariAplicacio">
    </wsdl:input>
      <wsdl:output message="tns:removeRolUserToUsuariAplicacioResponse" name="removeRolUserToUsuariAplicacioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRolAdminToUsuariAplicacio">
      <wsdl:input message="tns:addRolAdminToUsuariAplicacio" name="addRolAdminToUsuariAplicacio">
    </wsdl:input>
      <wsdl:output message="tns:addRolAdminToUsuariAplicacioResponse" name="addRolAdminToUsuariAplicacioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariAplicacio">
      <wsdl:input message="tns:createUsuariAplicacio" name="createUsuariAplicacio">
    </wsdl:input>
      <wsdl:output message="tns:createUsuariAplicacioResponse" name="createUsuariAplicacioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersion" name="getVersion">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuariAplicacio">
      <wsdl:input message="tns:getUsuariAplicacio" name="getUsuariAplicacio">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariAplicacioResponse" name="getUsuariAplicacioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <wsdl:input message="tns:getSupportedLanguages" name="getSupportedLanguages">
    </wsdl:input>
      <wsdl:output message="tns:getSupportedLanguagesResponse" name="getSupportedLanguagesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <wsdl:input message="tns:downloadFileUsingEncryptedFileID" name="downloadFileUsingEncryptedFileID">
    </wsdl:input>
      <wsdl:output message="tns:downloadFileUsingEncryptedFileIDResponse" name="downloadFileUsingEncryptedFileIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRolUserToUsuariAplicacio">
      <wsdl:input message="tns:addRolUserToUsuariAplicacio" name="addRolUserToUsuariAplicacio">
    </wsdl:input>
      <wsdl:output message="tns:addRolUserToUsuariAplicacioResponse" name="addRolUserToUsuariAplicacioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRolAdminToUsuariAplicacio">
      <wsdl:input message="tns:removeRolAdminToUsuariAplicacio" name="removeRolAdminToUsuariAplicacio">
    </wsdl:input>
      <wsdl:output message="tns:removeRolAdminToUsuariAplicacioResponse" name="removeRolAdminToUsuariAplicacioResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortaFIBUsuariAplicacioWsServiceSoapBinding" type="tns:PortaFIBUsuariAplicacioWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEntitatID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEntitatID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEntitatIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariAplicacio">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteUsuariAplicacio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUsuariAplicacioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionWs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUsuariAplicacio">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="listUsuariAplicacio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="listUsuariAplicacioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRolUserToUsuariAplicacio">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeRolUserToUsuariAplicacio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeRolUserToUsuariAplicacioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRolAdminToUsuariAplicacio">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addRolAdminToUsuariAplicacio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addRolAdminToUsuariAplicacioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariAplicacio">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createUsuariAplicacio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createUsuariAplicacioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuariAplicacio">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsuariAplicacio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariAplicacioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedLanguages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedLanguagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRolUserToUsuariAplicacio">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addRolUserToUsuariAplicacio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addRolUserToUsuariAplicacioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="downloadFileUsingEncryptedFileID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadFileUsingEncryptedFileIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRolAdminToUsuariAplicacio">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeRolAdminToUsuariAplicacio">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeRolAdminToUsuariAplicacioResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortaFIBUsuariAplicacioWsService">
    <wsdl:port binding="tns:PortaFIBUsuariAplicacioWsServiceSoapBinding" name="PortaFIBUsuariAplicacioWs">
      <soap:address location="http://ibit151:8080/portafib/ws/v1/PortaFIBUsuariAplicacio" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>