ws/portafib_api/src/main/resources/wsdl/PortaFIBPeticioDeFirma.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PortaFIBPeticioDeFirmaWsService" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.v1.ws.portafib.caib.es/">
  <xs:element name="createAndStartPeticioDeFirma" type="tns:createAndStartPeticioDeFirma"/>
  <xs:element name="createAndStartPeticioDeFirmaResponse" type="tns:createAndStartPeticioDeFirmaResponse"/>
  <xs:element name="createPeticioDeFirma" type="tns:createPeticioDeFirma"/>
  <xs:element name="createPeticioDeFirmaResponse" type="tns:createPeticioDeFirmaResponse"/>
  <xs:element name="createPlantillaFluxDeFirmes" type="tns:createPlantillaFluxDeFirmes"/>
  <xs:element name="createPlantillaFluxDeFirmesResponse" type="tns:createPlantillaFluxDeFirmesResponse"/>
  <xs:element name="deletePeticioDeFirma" type="tns:deletePeticioDeFirma"/>
  <xs:element name="deletePeticioDeFirmaResponse" type="tns:deletePeticioDeFirmaResponse"/>
  <xs:element name="deletePlantillaFluxDeFirmes" type="tns:deletePlantillaFluxDeFirmes"/>
  <xs:element name="deletePlantillaFluxDeFirmesResponse" type="tns:deletePlantillaFluxDeFirmesResponse"/>
  <xs:element name="downloadFileUsingEncryptedFileID" type="tns:downloadFileUsingEncryptedFileID"/>
  <xs:element name="downloadFileUsingEncryptedFileIDResponse" type="tns:downloadFileUsingEncryptedFileIDResponse"/>
  <xs:element name="getDefaultCustodiaInfo" type="tns:getDefaultCustodiaInfo"/>
  <xs:element name="getDefaultCustodiaInfoResponse" type="tns:getDefaultCustodiaInfoResponse"/>
  <xs:element name="getEntitatID" type="tns:getEntitatID"/>
  <xs:element name="getEntitatIDResponse" type="tns:getEntitatIDResponse"/>
  <xs:element name="getLastSignedFileOfPeticioDeFirma" type="tns:getLastSignedFileOfPeticioDeFirma"/>
  <xs:element name="getLastSignedFileOfPeticioDeFirmaResponse" type="tns:getLastSignedFileOfPeticioDeFirmaResponse"/>
  <xs:element name="getPeticioDeFirma" type="tns:getPeticioDeFirma"/>
  <xs:element name="getPeticioDeFirmaResponse" type="tns:getPeticioDeFirmaResponse"/>
  <xs:element name="getStateOfPeticioDeFirma" type="tns:getStateOfPeticioDeFirma"/>
  <xs:element name="getStateOfPeticioDeFirmaResponse" type="tns:getStateOfPeticioDeFirmaResponse"/>
  <xs:element name="getSupportedLanguages" type="tns:getSupportedLanguages"/>
  <xs:element name="getSupportedLanguagesResponse" type="tns:getSupportedLanguagesResponse"/>
  <xs:element name="getTipusDeDocuments" type="tns:getTipusDeDocuments"/>
  <xs:element name="getTipusDeDocumentsResponse" type="tns:getTipusDeDocumentsResponse"/>
  <xs:element name="getVersion" type="tns:getVersion"/>
  <xs:element name="getVersionResponse" type="tns:getVersionResponse"/>
  <xs:element name="getVersionWs" type="tns:getVersionWs"/>
  <xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse"/>
  <xs:element name="instantiatePlantillaFluxDeFirmes" type="tns:instantiatePlantillaFluxDeFirmes"/>
  <xs:element name="instantiatePlantillaFluxDeFirmesResponse" type="tns:instantiatePlantillaFluxDeFirmesResponse"/>
  <xs:element name="pausePeticioDeFirma" type="tns:pausePeticioDeFirma"/>
  <xs:element name="pausePeticioDeFirmaResponse" type="tns:pausePeticioDeFirmaResponse"/>
  <xs:element name="resetPeticioDeFirma" type="tns:resetPeticioDeFirma"/>
  <xs:element name="resetPeticioDeFirmaResponse" type="tns:resetPeticioDeFirmaResponse"/>
  <xs:element name="startPeticioDeFirma" type="tns:startPeticioDeFirma"/>
  <xs:element name="startPeticioDeFirmaResponse" type="tns:startPeticioDeFirmaResponse"/>
  <xs:complexType name="getEntitatID">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getEntitatIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="startPeticioDeFirma">
    <xs:sequence>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="startPeticioDeFirmaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="wsI18NTranslation">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="tns:wsI18NArgument"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsI18NArgument">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" type="xs:string"/>
      <xs:element name="translate" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPlantillaFluxDeFirmes">
    <xs:sequence>
      <xs:element minOccurs="0" name="fluxDeFirmesWs" type="tns:fluxDeFirmesWs"/>
      <xs:element name="compartir" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fluxDeFirmesWs">
    <xs:complexContent>
      <xs:extension base="tns:fluxDeFirmesBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="blocsDeFirmes" nillable="true" type="tns:blocDeFirmesWs"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fluxDeFirmesBean">
    <xs:sequence>
      <xs:element name="fluxDeFirmesID" type="xs:long"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="blocDeFirmesWs">
    <xs:complexContent>
      <xs:extension base="tns:blocDeFirmesBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="firmes" nillable="true" type="tns:firmaBean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="blocDeFirmesBean">
    <xs:sequence>
      <xs:element name="blocDeFirmesID" type="xs:long"/>
      <xs:element minOccurs="0" name="dataFinalitzacio" type="xs:dateTime"/>
      <xs:element name="fluxDeFirmesID" type="xs:long"/>
      <xs:element name="minimDeFirmes" type="xs:int"/>
      <xs:element name="ordre" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="firmaBean">
    <xs:sequence>
      <xs:element name="blocDeFirmaID" type="xs:long"/>
      <xs:element minOccurs="0" name="caixaAlt" type="xs:int"/>
      <xs:element minOccurs="0" name="caixaAmple" type="xs:int"/>
      <xs:element name="caixaPagina" type="xs:int"/>
      <xs:element minOccurs="0" name="caixaX" type="xs:int"/>
      <xs:element minOccurs="0" name="caixaY" type="xs:int"/>
      <xs:element minOccurs="0" name="destinatariID" type="xs:string"/>
      <xs:element minOccurs="0" name="emissorCertificat" type="xs:string"/>
      <xs:element name="firmaID" type="xs:long"/>
      <xs:element minOccurs="0" name="fitxerFirmat" type="tns:fitxerBean"/>
      <xs:element minOccurs="0" name="fitxerFirmatID" type="xs:long"/>
      <xs:element name="mostrarRubrica" type="xs:boolean"/>
      <xs:element minOccurs="0" name="nomCertificat" type="xs:string"/>
      <xs:element minOccurs="0" name="numFirmaDocument" type="xs:int"/>
      <xs:element minOccurs="0" name="numeroSerieCertificat" type="xs:integer"/>
      <xs:element name="obligatori" type="xs:boolean"/>
      <xs:element minOccurs="0" name="tipusEstatDeFirmaFinalID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fitxerBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="descripcio" type="xs:string"/>
      <xs:element minOccurs="0" name="encryptedFileID" type="xs:string"/>
      <xs:element name="fitxerID" type="xs:long"/>
      <xs:element minOccurs="0" name="mime" type="xs:string"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element name="tamany" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPlantillaFluxDeFirmesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wsFieldValidationError">
    <xs:sequence>
      <xs:element name="label" type="xs:string"/>
      <xs:element name="field" type="xs:string"/>
      <xs:element name="translation" type="tns:wsI18NTranslation"/>
      <xs:element name="error" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersionWs">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getVersionWsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePlantillaFluxDeFirmes">
    <xs:sequence>
      <xs:element name="plantillaDeFluxDeFirmesID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePlantillaFluxDeFirmesResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="createPeticioDeFirma">
    <xs:sequence>
      <xs:element minOccurs="0" name="peticioDeFirmaWs" type="tns:peticioDeFirmaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="peticioDeFirmaWs">
    <xs:complexContent>
      <xs:extension base="tns:peticioDeFirmaBean">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="annexs" nillable="true" type="tns:annexBean"/>
          <xs:element minOccurs="0" name="custodiaInfo" type="tns:custodiaInfoBean"/>
          <xs:element minOccurs="0" name="fluxDeFirmes" type="tns:fluxDeFirmesWs"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="metadades" nillable="true" type="tns:metadadaBean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="peticioDeFirmaBean">
    <xs:sequence>
      <xs:element name="algorismeDeFirmaID" type="xs:int"/>
      <xs:element name="avisWeb" type="xs:boolean"/>
      <xs:element minOccurs="0" name="custodiaInfoID" type="xs:long"/>
      <xs:element minOccurs="0" name="dataCaducitat" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataFinal" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dataSolicitud" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="descripcio" type="xs:string"/>
      <xs:element minOccurs="0" name="descripcioTipusDocument" type="xs:string"/>
      <xs:element minOccurs="0" name="fitxerAFirmar" type="tns:fitxerBean"/>
      <xs:element name="fitxerAFirmarID" type="xs:long"/>
      <xs:element minOccurs="0" name="fitxerAdaptat" type="tns:fitxerBean"/>
      <xs:element minOccurs="0" name="fitxerAdaptatID" type="xs:long"/>
      <xs:element name="fluxDeFirmesID" type="xs:long"/>
      <xs:element minOccurs="0" name="idiomaID" type="xs:string"/>
      <xs:element minOccurs="0" name="informacioAdicional" type="xs:string"/>
      <xs:element minOccurs="0" name="logoSegell" type="tns:fitxerBean"/>
      <xs:element minOccurs="0" name="logoSegellID" type="xs:long"/>
      <xs:element minOccurs="0" name="modeDeFirma" type="xs:boolean"/>
      <xs:element minOccurs="0" name="motiu" type="xs:string"/>
      <xs:element minOccurs="0" name="motiuDeRebuig" type="xs:string"/>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
      <xs:element name="posicioTaulaFirmesID" type="xs:int"/>
      <xs:element name="prioritatID" type="xs:int"/>
      <xs:element minOccurs="0" name="remitentDescripcio" type="xs:string"/>
      <xs:element minOccurs="0" name="remitentNom" type="xs:string"/>
      <xs:element name="segellatDeTemps" type="xs:boolean"/>
      <xs:element name="tipusDocumentID" type="xs:long"/>
      <xs:element name="tipusEstatPeticioDeFirmaID" type="xs:int"/>
      <xs:element name="tipusFirmaID" type="xs:int"/>
      <xs:element minOccurs="0" name="titol" type="xs:string"/>
      <xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string"/>
      <xs:element minOccurs="0" name="usuariEntitatID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="annexBean">
    <xs:sequence>
      <xs:element name="adjuntar" type="xs:boolean"/>
      <xs:element name="annexID" type="xs:long"/>
      <xs:element name="firmar" type="xs:boolean"/>
      <xs:element minOccurs="0" name="fitxer" type="tns:fitxerBean"/>
      <xs:element name="fitxerID" type="xs:long"/>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="custodiaInfoBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="codiBarresID" type="xs:string"/>
      <xs:element name="codiBarresPosicioPaginaID" type="xs:long"/>
      <xs:element minOccurs="0" name="codiBarresText" type="xs:string"/>
      <xs:element minOccurs="0" name="custodiaDocumentID" type="xs:string"/>
      <xs:element name="custodiaInfoID" type="xs:long"/>
      <xs:element minOccurs="0" name="custodiaPluginParameters" type="xs:string"/>
      <xs:element name="custodiar" type="xs:boolean"/>
      <xs:element minOccurs="0" name="dataCustodia" type="xs:dateTime"/>
      <xs:element name="editable" type="xs:boolean"/>
      <xs:element minOccurs="0" name="entitatID" type="xs:string"/>
      <xs:element minOccurs="0" name="missatge" type="xs:string"/>
      <xs:element name="missatgePosicioPaginaID" type="xs:long"/>
      <xs:element minOccurs="0" name="nomPlantilla" type="xs:string"/>
      <xs:element minOccurs="0" name="pagines" type="xs:string"/>
      <xs:element name="pluginID" type="xs:long"/>
      <xs:element minOccurs="0" name="titolPeticio" type="xs:string"/>
      <xs:element minOccurs="0" name="urlFitxerCustodiat" type="xs:string"/>
      <xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string"/>
      <xs:element minOccurs="0" name="usuariEntitatID" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="metadadaBean">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcio" type="xs:string"/>
      <xs:element name="metadadaID" type="xs:long"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
      <xs:element name="tipusMetadadaID" type="xs:int"/>
      <xs:element minOccurs="0" name="valor" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPeticioDeFirmaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:peticioDeFirmaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createAndStartPeticioDeFirma">
    <xs:sequence>
      <xs:element minOccurs="0" name="peticioDeFirmaWs" type="tns:peticioDeFirmaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createAndStartPeticioDeFirmaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:peticioDeFirmaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPeticioDeFirma">
    <xs:sequence>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPeticioDeFirmaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:peticioDeFirmaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePeticioDeFirma">
    <xs:sequence>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="deletePeticioDeFirmaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getLastSignedFileOfPeticioDeFirma">
    <xs:sequence>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLastSignedFileOfPeticioDeFirmaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:fitxerBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStateOfPeticioDeFirma">
    <xs:sequence>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getStateOfPeticioDeFirmaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pausePeticioDeFirma">
    <xs:sequence>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pausePeticioDeFirmaResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getDefaultCustodiaInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="language" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getDefaultCustodiaInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:custodiaInfoBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resetPeticioDeFirma">
    <xs:sequence>
      <xs:element name="peticioDeFirmaID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resetPeticioDeFirmaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:peticioDeFirmaWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getVersion">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instantiatePlantillaFluxDeFirmes">
    <xs:sequence>
      <xs:element name="plantillaDeFluxDeFirmesID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instantiatePlantillaFluxDeFirmesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:fluxDeFirmesWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTipusDeDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="idioma" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTipusDeDocumentsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tipusDocumentInfoWs"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipusDocumentInfoWs">
    <xs:sequence>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element name="tipusDocumentID" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getSupportedLanguages">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getSupportedLanguagesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadFileUsingEncryptedFileID">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="downloadFileUsingEncryptedFileIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:fitxerBean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsI18NError" type="tns:WsI18NError"/>
  <xs:complexType name="WsI18NError">
    <xs:sequence>
      <xs:element name="translation" nillable="true" type="tns:wsI18NTranslation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WsValidationErrors" type="tns:WsValidationErrors"/>
  <xs:complexType name="WsValidationErrors">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="fieldFaults" type="tns:wsFieldValidationError"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTipusDeDocuments">
    <wsdl:part name="parameters" element="tns:getTipusDeDocuments">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePlantillaFluxDeFirmes">
    <wsdl:part name="parameters" element="tns:deletePlantillaFluxDeFirmes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsValidationException">
    <wsdl:part name="WsValidationException" element="tns:WsValidationErrors">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:createPeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startPeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:startPeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultCustodiaInfoResponse">
    <wsdl:part name="parameters" element="tns:getDefaultCustodiaInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatIDResponse">
    <wsdl:part name="parameters" element="tns:getEntitatIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:resetPeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part name="parameters" element="tns:getVersionWs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePlantillaFluxDeFirmesResponse">
    <wsdl:part name="parameters" element="tns:deletePlantillaFluxDeFirmesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStateOfPeticioDeFirma">
    <wsdl:part name="parameters" element="tns:getStateOfPeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastSignedFileOfPeticioDeFirma">
    <wsdl:part name="parameters" element="tns:getLastSignedFileOfPeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLastSignedFileOfPeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:getLastSignedFileOfPeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatID">
    <wsdl:part name="parameters" element="tns:getEntitatID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pausePeticioDeFirma">
    <wsdl:part name="parameters" element="tns:pausePeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPlantillaFluxDeFirmes">
    <wsdl:part name="parameters" element="tns:createPlantillaFluxDeFirmes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:getPeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAndStartPeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:createAndStartPeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:deletePeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsI18NException">
    <wsdl:part name="WsI18NException" element="tns:WsI18NError">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part name="parameters" element="tns:getVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createAndStartPeticioDeFirma">
    <wsdl:part name="parameters" element="tns:createAndStartPeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPeticioDeFirma">
    <wsdl:part name="parameters" element="tns:getPeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="instantiatePlantillaFluxDeFirmesResponse">
    <wsdl:part name="parameters" element="tns:instantiatePlantillaFluxDeFirmesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part name="parameters" element="tns:getVersionWsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPlantillaFluxDeFirmesResponse">
    <wsdl:part name="parameters" element="tns:createPlantillaFluxDeFirmesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguages">
    <wsdl:part name="parameters" element="tns:getSupportedLanguages">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resetPeticioDeFirma">
    <wsdl:part name="parameters" element="tns:resetPeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="startPeticioDeFirma">
    <wsdl:part name="parameters" element="tns:startPeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguagesResponse">
    <wsdl:part name="parameters" element="tns:getSupportedLanguagesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultCustodiaInfo">
    <wsdl:part name="parameters" element="tns:getDefaultCustodiaInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileID">
    <wsdl:part name="parameters" element="tns:downloadFileUsingEncryptedFileID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="instantiatePlantillaFluxDeFirmes">
    <wsdl:part name="parameters" element="tns:instantiatePlantillaFluxDeFirmes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStateOfPeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:getStateOfPeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletePeticioDeFirma">
    <wsdl:part name="parameters" element="tns:deletePeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileIDResponse">
    <wsdl:part name="parameters" element="tns:downloadFileUsingEncryptedFileIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTipusDeDocumentsResponse">
    <wsdl:part name="parameters" element="tns:getTipusDeDocumentsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pausePeticioDeFirmaResponse">
    <wsdl:part name="parameters" element="tns:pausePeticioDeFirmaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createPeticioDeFirma">
    <wsdl:part name="parameters" element="tns:createPeticioDeFirma">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="tns:getVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PortaFIBPeticioDeFirmaWs">
    <wsdl:operation name="getEntitatID">
      <wsdl:input name="getEntitatID" message="tns:getEntitatID">
    </wsdl:input>
      <wsdl:output name="getEntitatIDResponse" message="tns:getEntitatIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startPeticioDeFirma">
      <wsdl:input name="startPeticioDeFirma" message="tns:startPeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="startPeticioDeFirmaResponse" message="tns:startPeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPlantillaFluxDeFirmes">
      <wsdl:input name="createPlantillaFluxDeFirmes" message="tns:createPlantillaFluxDeFirmes">
    </wsdl:input>
      <wsdl:output name="createPlantillaFluxDeFirmesResponse" message="tns:createPlantillaFluxDeFirmesResponse">
    </wsdl:output>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input name="getVersionWs" message="tns:getVersionWs">
    </wsdl:input>
      <wsdl:output name="getVersionWsResponse" message="tns:getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePlantillaFluxDeFirmes">
      <wsdl:input name="deletePlantillaFluxDeFirmes" message="tns:deletePlantillaFluxDeFirmes">
    </wsdl:input>
      <wsdl:output name="deletePlantillaFluxDeFirmesResponse" message="tns:deletePlantillaFluxDeFirmesResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPeticioDeFirma">
      <wsdl:input name="createPeticioDeFirma" message="tns:createPeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="createPeticioDeFirmaResponse" message="tns:createPeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndStartPeticioDeFirma">
      <wsdl:input name="createAndStartPeticioDeFirma" message="tns:createAndStartPeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="createAndStartPeticioDeFirmaResponse" message="tns:createAndStartPeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsValidationException" message="tns:WsValidationException">
    </wsdl:fault>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPeticioDeFirma">
      <wsdl:input name="getPeticioDeFirma" message="tns:getPeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="getPeticioDeFirmaResponse" message="tns:getPeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePeticioDeFirma">
      <wsdl:input name="deletePeticioDeFirma" message="tns:deletePeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="deletePeticioDeFirmaResponse" message="tns:deletePeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastSignedFileOfPeticioDeFirma">
      <wsdl:input name="getLastSignedFileOfPeticioDeFirma" message="tns:getLastSignedFileOfPeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="getLastSignedFileOfPeticioDeFirmaResponse" message="tns:getLastSignedFileOfPeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStateOfPeticioDeFirma">
      <wsdl:input name="getStateOfPeticioDeFirma" message="tns:getStateOfPeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="getStateOfPeticioDeFirmaResponse" message="tns:getStateOfPeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pausePeticioDeFirma">
      <wsdl:input name="pausePeticioDeFirma" message="tns:pausePeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="pausePeticioDeFirmaResponse" message="tns:pausePeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDefaultCustodiaInfo">
      <wsdl:input name="getDefaultCustodiaInfo" message="tns:getDefaultCustodiaInfo">
    </wsdl:input>
      <wsdl:output name="getDefaultCustodiaInfoResponse" message="tns:getDefaultCustodiaInfoResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="resetPeticioDeFirma">
      <wsdl:input name="resetPeticioDeFirma" message="tns:resetPeticioDeFirma">
    </wsdl:input>
      <wsdl:output name="resetPeticioDeFirmaResponse" message="tns:resetPeticioDeFirmaResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input name="getVersion" message="tns:getVersion">
    </wsdl:input>
      <wsdl:output name="getVersionResponse" message="tns:getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="instantiatePlantillaFluxDeFirmes">
      <wsdl:input name="instantiatePlantillaFluxDeFirmes" message="tns:instantiatePlantillaFluxDeFirmes">
    </wsdl:input>
      <wsdl:output name="instantiatePlantillaFluxDeFirmesResponse" message="tns:instantiatePlantillaFluxDeFirmesResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTipusDeDocuments">
      <wsdl:input name="getTipusDeDocuments" message="tns:getTipusDeDocuments">
    </wsdl:input>
      <wsdl:output name="getTipusDeDocumentsResponse" message="tns:getTipusDeDocumentsResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <wsdl:input name="getSupportedLanguages" message="tns:getSupportedLanguages">
    </wsdl:input>
      <wsdl:output name="getSupportedLanguagesResponse" message="tns:getSupportedLanguagesResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <wsdl:input name="downloadFileUsingEncryptedFileID" message="tns:downloadFileUsingEncryptedFileID">
    </wsdl:input>
      <wsdl:output name="downloadFileUsingEncryptedFileIDResponse" message="tns:downloadFileUsingEncryptedFileIDResponse">
    </wsdl:output>
      <wsdl:fault name="WsI18NException" message="tns:WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortaFIBPeticioDeFirmaWsServiceSoapBinding" type="tns:PortaFIBPeticioDeFirmaWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEntitatID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEntitatID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEntitatIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="startPeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="startPeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="startPeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPlantillaFluxDeFirmes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPlantillaFluxDeFirmes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPlantillaFluxDeFirmesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersionWs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePlantillaFluxDeFirmes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePlantillaFluxDeFirmes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePlantillaFluxDeFirmesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAndStartPeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createAndStartPeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createAndStartPeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createPeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createPeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createPeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deletePeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletePeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletePeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getLastSignedFileOfPeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getLastSignedFileOfPeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLastSignedFileOfPeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStateOfPeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getStateOfPeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStateOfPeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDefaultCustodiaInfo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDefaultCustodiaInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDefaultCustodiaInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="pausePeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="pausePeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="pausePeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getVersion">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPeticioDeFirma">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="resetPeticioDeFirma">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="resetPeticioDeFirmaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="instantiatePlantillaFluxDeFirmes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="instantiatePlantillaFluxDeFirmes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="instantiatePlantillaFluxDeFirmesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getSupportedLanguages">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSupportedLanguagesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getTipusDeDocuments">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTipusDeDocuments">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTipusDeDocumentsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="downloadFileUsingEncryptedFileID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadFileUsingEncryptedFileIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortaFIBPeticioDeFirmaWsService">
    <wsdl:port name="PortaFIBPeticioDeFirmaWs" binding="tns:PortaFIBPeticioDeFirmaWsServiceSoapBinding">
      <soap:address location="http://localhost:8080/portafib/ws/v1/PortaFIBPeticioDeFirma"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
