ws/portafib_api/src/main/resources/wsdl/PortaFIBUsuariEntitat_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PortaFIBUsuariEntitatWsService" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="activateCarrec" type="tns:activateCarrec" />
<xs:element name="activateCarrecResponse" type="tns:activateCarrecResponse" />
<xs:element name="activateUsuariEntitat" type="tns:activateUsuariEntitat" />
<xs:element name="activateUsuariEntitatResponse" type="tns:activateUsuariEntitatResponse" />
<xs:element name="addRoleAdministradorDeEntitat" type="tns:addRoleAdministradorDeEntitat" />
<xs:element name="addRoleAdministradorDeEntitatResponse" type="tns:addRoleAdministradorDeEntitatResponse" />
<xs:element name="addRoleSolicitant" type="tns:addRoleSolicitant" />
<xs:element name="addRoleSolicitantResponse" type="tns:addRoleSolicitantResponse" />
<xs:element name="createCarrec" type="tns:createCarrec" />
<xs:element name="createCarrecResponse" type="tns:createCarrecResponse" />
<xs:element name="createCarrecSimple" type="tns:createCarrecSimple" />
<xs:element name="createCarrecSimpleResponse" type="tns:createCarrecSimpleResponse" />
<xs:element name="createUsuariEntitat" type="tns:createUsuariEntitat" />
<xs:element name="createUsuariEntitatResponse" type="tns:createUsuariEntitatResponse" />
<xs:element name="createUsuariEntitatSimple" type="tns:createUsuariEntitatSimple" />
<xs:element name="createUsuariEntitatSimpleResponse" type="tns:createUsuariEntitatSimpleResponse" />
<xs:element name="createUsuariPersona" type="tns:createUsuariPersona" />
<xs:element name="createUsuariPersonaResponse" type="tns:createUsuariPersonaResponse" />
<xs:element name="deactivateCarrec" type="tns:deactivateCarrec" />
<xs:element name="deactivateCarrecResponse" type="tns:deactivateCarrecResponse" />
<xs:element name="deactivateUsuariEntitat" type="tns:deactivateUsuariEntitat" />
<xs:element name="deactivateUsuariEntitatResponse" type="tns:deactivateUsuariEntitatResponse" />
<xs:element name="deleteCarrec" type="tns:deleteCarrec" />
<xs:element name="deleteCarrecResponse" type="tns:deleteCarrecResponse" />
<xs:element name="deleteUsuariEntitat" type="tns:deleteUsuariEntitat" />
<xs:element name="deleteUsuariEntitatResponse" type="tns:deleteUsuariEntitatResponse" />
<xs:element name="deleteUsuariPersona" type="tns:deleteUsuariPersona" />
<xs:element name="deleteUsuariPersonaResponse" type="tns:deleteUsuariPersonaResponse" />
<xs:element name="downloadFileUsingEncryptedFileID" type="tns:downloadFileUsingEncryptedFileID" />
<xs:element name="downloadFileUsingEncryptedFileIDResponse" type="tns:downloadFileUsingEncryptedFileIDResponse" />
<xs:element name="getCarrec" type="tns:getCarrec" />
<xs:element name="getCarrecResponse" type="tns:getCarrecResponse" />
<xs:element name="getCarrecsByEntitatID" type="tns:getCarrecsByEntitatID" />
<xs:element name="getCarrecsByEntitatIDResponse" type="tns:getCarrecsByEntitatIDResponse" />
<xs:element name="getCarrecsOfMyEntitat" type="tns:getCarrecsOfMyEntitat" />
<xs:element name="getCarrecsOfMyEntitatResponse" type="tns:getCarrecsOfMyEntitatResponse" />
<xs:element name="getEntitatID" type="tns:getEntitatID" />
<xs:element name="getEntitatIDResponse" type="tns:getEntitatIDResponse" />
<xs:element name="getInfoFromPluginUserInfo" type="tns:getInfoFromPluginUserInfo" />
<xs:element name="getInfoFromPluginUserInfoResponse" type="tns:getInfoFromPluginUserInfoResponse" />
<xs:element name="getSupportedLanguages" type="tns:getSupportedLanguages" />
<xs:element name="getSupportedLanguagesResponse" type="tns:getSupportedLanguagesResponse" />
<xs:element name="getUsuariEntitat" type="tns:getUsuariEntitat" />
<xs:element name="getUsuariEntitatIDByAdministrationID" type="tns:getUsuariEntitatIDByAdministrationID" />
<xs:element name="getUsuariEntitatIDByAdministrationIDResponse" type="tns:getUsuariEntitatIDByAdministrationIDResponse" />
<xs:element name="getUsuariEntitatIDInMyEntitatByAdministrationID" type="tns:getUsuariEntitatIDInMyEntitatByAdministrationID" />
<xs:element name="getUsuariEntitatIDInMyEntitatByAdministrationIDResponse" type="tns:getUsuariEntitatIDInMyEntitatByAdministrationIDResponse" />
<xs:element name="getUsuariEntitatResponse" type="tns:getUsuariEntitatResponse" />
<xs:element name="getUsuariPersona" type="tns:getUsuariPersona" />
<xs:element name="getUsuariPersonaIDByAdministrationID" type="tns:getUsuariPersonaIDByAdministrationID" />
<xs:element name="getUsuariPersonaIDByAdministrationIDResponse" type="tns:getUsuariPersonaIDByAdministrationIDResponse" />
<xs:element name="getUsuariPersonaResponse" type="tns:getUsuariPersonaResponse" />
<xs:element name="getVersion" type="tns:getVersion" />
<xs:element name="getVersionResponse" type="tns:getVersionResponse" />
<xs:element name="getVersionWs" type="tns:getVersionWs" />
<xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse" />
<xs:element name="removeRoleAdministradorDeEntitat" type="tns:removeRoleAdministradorDeEntitat" />
<xs:element name="removeRoleAdministradorDeEntitatResponse" type="tns:removeRoleAdministradorDeEntitatResponse" />
<xs:element name="removeRoleSolicitant" type="tns:removeRoleSolicitant" />
<xs:element name="removeRoleSolicitantResponse" type="tns:removeRoleSolicitantResponse" />
<xs:element name="updateAdministrationIDOfCarrec" type="tns:updateAdministrationIDOfCarrec" />
<xs:element name="updateAdministrationIDOfCarrecResponse" type="tns:updateAdministrationIDOfCarrecResponse" />
<xs:complexType name="updateAdministrationIDOfCarrec">
<xs:sequence>
<xs:element minOccurs="0" name="carrecID" type="xs:string" />
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="updateAdministrationIDOfCarrecResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="wsI18NTranslation">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="tns:wsI18NArgument" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsI18NArgument">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:string" />
<xs:element name="translate" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsFieldValidationError">
<xs:sequence>
<xs:element name="label" type="xs:string" />
<xs:element name="field" type="xs:string" />
<xs:element name="translation" type="tns:wsI18NTranslation" />
<xs:element name="error" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEntitatID">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getEntitatIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createUsuariEntitatSimple">
<xs:sequence>
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createUsuariEntitatSimpleResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:usuariEntitatBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="usuariEntitatBean">
<xs:sequence>
<xs:element name="actiu" type="xs:boolean" />
<xs:element minOccurs="0" name="carrec" type="xs:string" />
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
<xs:element minOccurs="0" name="logoSegell" type="tns:fitxerBean" />
<xs:element minOccurs="0" name="logoSegellID" type="xs:long" />
<xs:element minOccurs="0" name="potCustodiar" type="xs:boolean" />
<xs:element name="predeterminat" type="xs:boolean" />
<xs:element name="rebreTotsElsAvisos" type="xs:boolean" />
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
<xs:element minOccurs="0" name="usuariPersonaID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="fitxerBean">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="xs:base64Binary" />
<xs:element minOccurs="0" name="descripcio" type="xs:string" />
<xs:element minOccurs="0" name="encryptedFileID" type="xs:string" />
<xs:element name="fitxerID" type="xs:long" />
<xs:element minOccurs="0" name="mime" type="xs:string" />
<xs:element minOccurs="0" name="nom" type="xs:string" />
<xs:element name="tamany" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCarrecsOfMyEntitat">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getCarrecsOfMyEntitatResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carrecWs" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="carrecWs">
<xs:sequence>
<xs:element name="actiu" type="xs:boolean" />
<xs:element minOccurs="0" name="carrecID" type="xs:string" />
<xs:element minOccurs="0" name="carrecName" type="xs:string" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
<xs:element minOccurs="0" name="usuariPersonaID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCarrec">
<xs:sequence>
<xs:element minOccurs="0" name="carrec" type="tns:carrecWs" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCarrecResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="activateCarrec">
<xs:sequence>
<xs:element minOccurs="0" name="carrecID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateCarrecResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionWs">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionWsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariEntitatIDInMyEntitatByAdministrationID">
<xs:sequence>
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariEntitatIDInMyEntitatByAdministrationIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateUsuariEntitat">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateUsuariEntitatResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getUsuariPersonaIDByAdministrationID">
<xs:sequence>
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariPersonaIDByAdministrationIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUsuariPersona">
<xs:sequence>
<xs:element minOccurs="0" name="usuariPersonaID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUsuariPersonaResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getUsuariEntitat">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariEntitatResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:usuariEntitatBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCarrecSimple">
<xs:sequence>
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
<xs:element minOccurs="0" name="carrecUsername" type="xs:string" />
<xs:element minOccurs="0" name="carrecName" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createCarrecSimpleResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:carrecWs" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateCarrec">
<xs:sequence>
<xs:element minOccurs="0" name="carrecID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deactivateCarrecResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="removeRoleSolicitant">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeRoleSolicitantResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getUsuariPersona">
<xs:sequence>
<xs:element minOccurs="0" name="usuariPersonaID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariPersonaResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:usuariPersonaBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="usuariPersonaBean">
<xs:sequence>
<xs:element minOccurs="0" name="email" type="xs:string" />
<xs:element minOccurs="0" name="idiomaID" type="xs:string" />
<xs:element minOccurs="0" name="llinatges" type="xs:string" />
<xs:element minOccurs="0" name="nif" type="xs:string" />
<xs:element minOccurs="0" name="nom" type="xs:string" />
<xs:element minOccurs="0" name="rubrica" type="tns:fitxerBean" />
<xs:element minOccurs="0" name="rubricaID" type="xs:long" />
<xs:element minOccurs="0" name="usuariPersonaID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateUsuariEntitat">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="activateUsuariEntitatResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getInfoFromPluginUserInfo">
<xs:sequence>
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getInfoFromPluginUserInfoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:usuariPersonaBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getVersion">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRoleAdministradorDeEntitat">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRoleAdministradorDeEntitatResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="createUsuariPersona">
<xs:sequence>
<xs:element minOccurs="0" name="usuariPersonaBean" type="tns:usuariPersonaBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createUsuariPersonaResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getCarrec">
<xs:sequence>
<xs:element minOccurs="0" name="carrecID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCarrecResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:carrecWs" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCarrecsByEntitatID">
<xs:sequence>
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCarrecsByEntitatIDResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:carrecWs" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSupportedLanguages">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getSupportedLanguagesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRoleSolicitant">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="addRoleSolicitantResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="createUsuariEntitat">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatBean" type="tns:usuariEntitatBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="createUsuariEntitatResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:usuariEntitatBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariEntitatIDByAdministrationID">
<xs:sequence>
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getUsuariEntitatIDByAdministrationIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUsuariEntitat">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteUsuariEntitatResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="downloadFileUsingEncryptedFileID">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="downloadFileUsingEncryptedFileIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:fitxerBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeRoleAdministradorDeEntitat">
<xs:sequence>
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="removeRoleAdministradorDeEntitatResponse">
<xs:sequence />
</xs:complexType>
<xs:complexType name="deleteCarrec">
<xs:sequence>
<xs:element minOccurs="0" name="carrecID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="deleteCarrecResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="WsI18NError" type="tns:WsI18NError" />
<xs:complexType name="WsI18NError">
<xs:sequence>
<xs:element name="translation" nillable="true" type="tns:wsI18NTranslation" />
</xs:sequence>
</xs:complexType>
<xs:element name="WsValidationErrors" type="tns:WsValidationErrors" />
<xs:complexType name="WsValidationErrors">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="fieldFaults" type="tns:wsFieldValidationError" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createUsuariEntitatSimpleResponse">
    <wsdl:part element="tns:createUsuariEntitatSimpleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsValidationException">
    <wsdl:part element="tns:WsValidationErrors" name="WsValidationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatIDResponse">
    <wsdl:part element="tns:getEntitatIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariEntitatSimple">
    <wsdl:part element="tns:createUsuariEntitatSimple" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCarrec">
    <wsdl:part element="tns:createCarrec" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatResponse">
    <wsdl:part element="tns:getUsuariEntitatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecsByEntitatIDResponse">
    <wsdl:part element="tns:getCarrecsByEntitatIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariPersona">
    <wsdl:part element="tns:getUsuariPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatIDByAdministrationID">
    <wsdl:part element="tns:getUsuariEntitatIDByAdministrationID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRoleSolicitantResponse">
    <wsdl:part element="tns:removeRoleSolicitantResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCarrecSimpleResponse">
    <wsdl:part element="tns:createCarrecSimpleResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part element="tns:getVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRoleSolicitant">
    <wsdl:part element="tns:addRoleSolicitant" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariPersona">
    <wsdl:part element="tns:createUsuariPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateCarrecResponse">
    <wsdl:part element="tns:deactivateCarrecResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRoleSolicitantResponse">
    <wsdl:part element="tns:addRoleSolicitantResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguagesResponse">
    <wsdl:part element="tns:getSupportedLanguagesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRoleAdministradorDeEntitat">
    <wsdl:part element="tns:removeRoleAdministradorDeEntitat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileID">
    <wsdl:part element="tns:downloadFileUsingEncryptedFileID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariPersonaIDByAdministrationIDResponse">
    <wsdl:part element="tns:getUsuariPersonaIDByAdministrationIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecsByEntitatID">
    <wsdl:part element="tns:getCarrecsByEntitatID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateUsuariEntitat">
    <wsdl:part element="tns:activateUsuariEntitat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatIDInMyEntitatByAdministrationIDResponse">
    <wsdl:part element="tns:getUsuariEntitatIDInMyEntitatByAdministrationIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrec">
    <wsdl:part element="tns:getCarrec" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariEntitatResponse">
    <wsdl:part element="tns:createUsuariEntitatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRoleAdministradorDeEntitatResponse">
    <wsdl:part element="tns:removeRoleAdministradorDeEntitatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateCarrecResponse">
    <wsdl:part element="tns:activateCarrecResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsuariEntitatResponse">
    <wsdl:part element="tns:deleteUsuariEntitatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoFromPluginUserInfo">
    <wsdl:part element="tns:getInfoFromPluginUserInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecsOfMyEntitatResponse">
    <wsdl:part element="tns:getCarrecsOfMyEntitatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariPersonaResponse">
    <wsdl:part element="tns:createUsuariPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsuariEntitat">
    <wsdl:part element="tns:deleteUsuariEntitat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRoleAdministradorDeEntitat">
    <wsdl:part element="tns:addRoleAdministradorDeEntitat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createUsuariEntitat">
    <wsdl:part element="tns:createUsuariEntitat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateUsuariEntitat">
    <wsdl:part element="tns:deactivateUsuariEntitat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part element="tns:getVersionWs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInfoFromPluginUserInfoResponse">
    <wsdl:part element="tns:getInfoFromPluginUserInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsuariPersona">
    <wsdl:part element="tns:deleteUsuariPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariPersonaIDByAdministrationID">
    <wsdl:part element="tns:getUsuariPersonaIDByAdministrationID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCarrec">
    <wsdl:part element="tns:deleteCarrec" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatID">
    <wsdl:part element="tns:getEntitatID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCarrecResponse">
    <wsdl:part element="tns:createCarrecResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeRoleSolicitant">
    <wsdl:part element="tns:removeRoleSolicitant" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateUsuariEntitatResponse">
    <wsdl:part element="tns:activateUsuariEntitatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsI18NException">
    <wsdl:part element="tns:WsI18NError" name="WsI18NException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateCarrec">
    <wsdl:part element="tns:deactivateCarrec" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatIDInMyEntitatByAdministrationID">
    <wsdl:part element="tns:getUsuariEntitatIDInMyEntitatByAdministrationID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitatIDByAdministrationIDResponse">
    <wsdl:part element="tns:getUsuariEntitatIDByAdministrationIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariEntitat">
    <wsdl:part element="tns:getUsuariEntitat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part element="tns:getVersionWsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguages">
    <wsdl:part element="tns:getSupportedLanguages" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUsuariPersonaResponse">
    <wsdl:part element="tns:deleteUsuariPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAdministrationIDOfCarrecResponse">
    <wsdl:part element="tns:updateAdministrationIDOfCarrecResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecResponse">
    <wsdl:part element="tns:getCarrecResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateCarrec">
    <wsdl:part element="tns:activateCarrec" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarrecsOfMyEntitat">
    <wsdl:part element="tns:getCarrecsOfMyEntitat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUsuariPersonaResponse">
    <wsdl:part element="tns:getUsuariPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addRoleAdministradorDeEntitatResponse">
    <wsdl:part element="tns:addRoleAdministradorDeEntitatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileIDResponse">
    <wsdl:part element="tns:downloadFileUsingEncryptedFileIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAdministrationIDOfCarrec">
    <wsdl:part element="tns:updateAdministrationIDOfCarrec" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createCarrecSimple">
    <wsdl:part element="tns:createCarrecSimple" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteCarrecResponse">
    <wsdl:part element="tns:deleteCarrecResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="tns:getVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deactivateUsuariEntitatResponse">
    <wsdl:part element="tns:deactivateUsuariEntitatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PortaFIBUsuariEntitatWs">
    <wsdl:operation name="updateAdministrationIDOfCarrec">
      <wsdl:input message="tns:updateAdministrationIDOfCarrec" name="updateAdministrationIDOfCarrec">
    </wsdl:input>
      <wsdl:output message="tns:updateAdministrationIDOfCarrecResponse" name="updateAdministrationIDOfCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEntitatID">
      <wsdl:input message="tns:getEntitatID" name="getEntitatID">
    </wsdl:input>
      <wsdl:output message="tns:getEntitatIDResponse" name="getEntitatIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUsuariEntitatSimple">
      <wsdl:input message="tns:createUsuariEntitatSimple" name="createUsuariEntitatSimple">
    </wsdl:input>
      <wsdl:output message="tns:createUsuariEntitatSimpleResponse" name="createUsuariEntitatSimpleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarrecsOfMyEntitat">
      <wsdl:input message="tns:getCarrecsOfMyEntitat" name="getCarrecsOfMyEntitat">
    </wsdl:input>
      <wsdl:output message="tns:getCarrecsOfMyEntitatResponse" name="getCarrecsOfMyEntitatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCarrec">
      <wsdl:input message="tns:createCarrec" name="createCarrec">
    </wsdl:input>
      <wsdl:output message="tns:createCarrecResponse" name="createCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activateCarrec">
      <wsdl:input message="tns:activateCarrec" name="activateCarrec">
    </wsdl:input>
      <wsdl:output message="tns:activateCarrecResponse" name="activateCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input message="tns:getVersionWs" name="getVersionWs">
    </wsdl:input>
      <wsdl:output message="tns:getVersionWsResponse" name="getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitatIDInMyEntitatByAdministrationID">
      <wsdl:input message="tns:getUsuariEntitatIDInMyEntitatByAdministrationID" name="getUsuariEntitatIDInMyEntitatByAdministrationID">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariEntitatIDInMyEntitatByAdministrationIDResponse" name="getUsuariEntitatIDInMyEntitatByAdministrationIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateUsuariEntitat">
      <wsdl:input message="tns:deactivateUsuariEntitat" name="deactivateUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:deactivateUsuariEntitatResponse" name="deactivateUsuariEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariPersonaIDByAdministrationID">
      <wsdl:input message="tns:getUsuariPersonaIDByAdministrationID" name="getUsuariPersonaIDByAdministrationID">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariPersonaIDByAdministrationIDResponse" name="getUsuariPersonaIDByAdministrationIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariPersona">
      <wsdl:input message="tns:deleteUsuariPersona" name="deleteUsuariPersona">
    </wsdl:input>
      <wsdl:output message="tns:deleteUsuariPersonaResponse" name="deleteUsuariPersonaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitat">
      <wsdl:input message="tns:getUsuariEntitat" name="getUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariEntitatResponse" name="getUsuariEntitatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCarrecSimple">
      <wsdl:input message="tns:createCarrecSimple" name="createCarrecSimple">
    </wsdl:input>
      <wsdl:output message="tns:createCarrecSimpleResponse" name="createCarrecSimpleResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateCarrec">
      <wsdl:input message="tns:deactivateCarrec" name="deactivateCarrec">
    </wsdl:input>
      <wsdl:output message="tns:deactivateCarrecResponse" name="deactivateCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoleSolicitant">
      <wsdl:input message="tns:removeRoleSolicitant" name="removeRoleSolicitant">
    </wsdl:input>
      <wsdl:output message="tns:removeRoleSolicitantResponse" name="removeRoleSolicitantResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariPersona">
      <wsdl:input message="tns:getUsuariPersona" name="getUsuariPersona">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariPersonaResponse" name="getUsuariPersonaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activateUsuariEntitat">
      <wsdl:input message="tns:activateUsuariEntitat" name="activateUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:activateUsuariEntitatResponse" name="activateUsuariEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInfoFromPluginUserInfo">
      <wsdl:input message="tns:getInfoFromPluginUserInfo" name="getInfoFromPluginUserInfo">
    </wsdl:input>
      <wsdl:output message="tns:getInfoFromPluginUserInfoResponse" name="getInfoFromPluginUserInfoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersion" name="getVersion">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRoleAdministradorDeEntitat">
      <wsdl:input message="tns:addRoleAdministradorDeEntitat" name="addRoleAdministradorDeEntitat">
    </wsdl:input>
      <wsdl:output message="tns:addRoleAdministradorDeEntitatResponse" name="addRoleAdministradorDeEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariPersona">
      <wsdl:input message="tns:createUsuariPersona" name="createUsuariPersona">
    </wsdl:input>
      <wsdl:output message="tns:createUsuariPersonaResponse" name="createUsuariPersonaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarrec">
      <wsdl:input message="tns:getCarrec" name="getCarrec">
    </wsdl:input>
      <wsdl:output message="tns:getCarrecResponse" name="getCarrecResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarrecsByEntitatID">
      <wsdl:input message="tns:getCarrecsByEntitatID" name="getCarrecsByEntitatID">
    </wsdl:input>
      <wsdl:output message="tns:getCarrecsByEntitatIDResponse" name="getCarrecsByEntitatIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <wsdl:input message="tns:getSupportedLanguages" name="getSupportedLanguages">
    </wsdl:input>
      <wsdl:output message="tns:getSupportedLanguagesResponse" name="getSupportedLanguagesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRoleSolicitant">
      <wsdl:input message="tns:addRoleSolicitant" name="addRoleSolicitant">
    </wsdl:input>
      <wsdl:output message="tns:addRoleSolicitantResponse" name="addRoleSolicitantResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariEntitat">
      <wsdl:input message="tns:createUsuariEntitat" name="createUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:createUsuariEntitatResponse" name="createUsuariEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitatIDByAdministrationID">
      <wsdl:input message="tns:getUsuariEntitatIDByAdministrationID" name="getUsuariEntitatIDByAdministrationID">
    </wsdl:input>
      <wsdl:output message="tns:getUsuariEntitatIDByAdministrationIDResponse" name="getUsuariEntitatIDByAdministrationIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariEntitat">
      <wsdl:input message="tns:deleteUsuariEntitat" name="deleteUsuariEntitat">
    </wsdl:input>
      <wsdl:output message="tns:deleteUsuariEntitatResponse" name="deleteUsuariEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <wsdl:input message="tns:downloadFileUsingEncryptedFileID" name="downloadFileUsingEncryptedFileID">
    </wsdl:input>
      <wsdl:output message="tns:downloadFileUsingEncryptedFileIDResponse" name="downloadFileUsingEncryptedFileIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoleAdministradorDeEntitat">
      <wsdl:input message="tns:removeRoleAdministradorDeEntitat" name="removeRoleAdministradorDeEntitat">
    </wsdl:input>
      <wsdl:output message="tns:removeRoleAdministradorDeEntitatResponse" name="removeRoleAdministradorDeEntitatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCarrec">
      <wsdl:input message="tns:deleteCarrec" name="deleteCarrec">
    </wsdl:input>
      <wsdl:output message="tns:deleteCarrecResponse" name="deleteCarrecResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortaFIBUsuariEntitatWsServiceSoapBinding" type="tns:PortaFIBUsuariEntitatWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEntitatID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEntitatID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEntitatIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAdministrationIDOfCarrec">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateAdministrationIDOfCarrec">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateAdministrationIDOfCarrecResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariEntitatSimple">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createUsuariEntitatSimple">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createUsuariEntitatSimpleResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarrecsOfMyEntitat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarrecsOfMyEntitat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarrecsOfMyEntitatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateCarrec">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="activateCarrec">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="activateCarrecResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createCarrec">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createCarrec">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createCarrecResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitatIDInMyEntitatByAdministrationID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsuariEntitatIDInMyEntitatByAdministrationID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariEntitatIDInMyEntitatByAdministrationIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionWs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deactivateUsuariEntitat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deactivateUsuariEntitat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deactivateUsuariEntitatResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariPersona">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteUsuariPersona">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUsuariPersonaResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariPersonaIDByAdministrationID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsuariPersonaIDByAdministrationID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariPersonaIDByAdministrationIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsuariEntitat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariEntitatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCarrecSimple">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createCarrecSimple">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createCarrecSimpleResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deactivateCarrec">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deactivateCarrec">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deactivateCarrecResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoleSolicitant">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeRoleSolicitant">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeRoleSolicitantResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariPersona">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsuariPersona">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariPersonaResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="activateUsuariEntitat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="activateUsuariEntitat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="activateUsuariEntitatResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInfoFromPluginUserInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getInfoFromPluginUserInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getInfoFromPluginUserInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addRoleAdministradorDeEntitat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addRoleAdministradorDeEntitat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addRoleAdministradorDeEntitatResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariPersona">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createUsuariPersona">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createUsuariPersonaResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCarrec">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarrec">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarrecResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarrecsByEntitatID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCarrecsByEntitatID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCarrecsByEntitatIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRoleSolicitant">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="addRoleSolicitant">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="addRoleSolicitantResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedLanguages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedLanguagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createUsuariEntitat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="createUsuariEntitat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createUsuariEntitatResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getUsuariEntitatIDByAdministrationID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUsuariEntitatIDByAdministrationID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUsuariEntitatIDByAdministrationIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUsuariEntitat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteUsuariEntitat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteUsuariEntitatResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="downloadFileUsingEncryptedFileID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadFileUsingEncryptedFileIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteCarrec">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="deleteCarrec">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteCarrecResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="removeRoleAdministradorDeEntitat">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="removeRoleAdministradorDeEntitat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="removeRoleAdministradorDeEntitatResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortaFIBUsuariEntitatWsService">
    <wsdl:port binding="tns:PortaFIBUsuariEntitatWsServiceSoapBinding" name="PortaFIBUsuariEntitatWs">
      <soap:address location="http://ibit151:8080/portafib/ws/v1/PortaFIBUsuariEntitat" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>