ws/portafib_server/wsdl/v1/PortaFIBHelloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PortaFIBHelloWorldWsService" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://impl.v1.ws.portafib.caib.es/" version="1.0" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="echo" type="tns:echo" />
<xs:element name="echoResponse" type="tns:echoResponse" />
<xs:element name="getVersion" type="tns:getVersion" />
<xs:element name="getVersionResponse" type="tns:getVersionResponse" />
<xs:element name="getVersionWs" type="tns:getVersionWs" />
<xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse" />
<xs:complexType name="getVersionWs">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionWsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getVersion">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="echo">
<xs:sequence>
<xs:element minOccurs="0" name="echo" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="echoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getVersion">
    <wsdl:part element="tns:getVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part element="tns:getVersionWsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part element="tns:echo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="tns:getVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part element="tns:getVersionWs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PortaFIBHelloWorldWs">
    <wsdl:operation name="getVersionWs">
      <wsdl:input message="tns:getVersionWs" name="getVersionWs">
    </wsdl:input>
      <wsdl:output message="tns:getVersionWsResponse" name="getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersion" name="getVersion">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echo" name="echo">
    </wsdl:input>
      <wsdl:output message="tns:echoResponse" name="echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortaFIBHelloWorldWsServiceSoapBinding" type="tns:PortaFIBHelloWorldWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionWs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="echo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortaFIBHelloWorldWsService">
    <wsdl:port binding="tns:PortaFIBHelloWorldWsServiceSoapBinding" name="PortaFIBHelloWorldWs">
      <soap:address location="http://IBIT151ANADAL:8080/portafib/ws/v1/PortaFIBHelloWorld" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>