ws/portafib_server/wsdl/v1/PortaFIBPassarelaDeFirmaEnServidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PortaFIBPassarelaDeFirmaEnServidorWsService" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.v1.ws.portafib.caib.es/" xmlns:tns="http://impl.v1.ws.portafib.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="downloadFileUsingEncryptedFileID" type="tns:downloadFileUsingEncryptedFileID" />
<xs:element name="downloadFileUsingEncryptedFileIDResponse" type="tns:downloadFileUsingEncryptedFileIDResponse" />
<xs:element name="getAllCustodiaInfoTemplates" type="tns:getAllCustodiaInfoTemplates" />
<xs:element name="getAllCustodiaInfoTemplatesResponse" type="tns:getAllCustodiaInfoTemplatesResponse" />
<xs:element name="getAllPluginIDCustodia" type="tns:getAllPluginIDCustodia" />
<xs:element name="getAllPluginIDCustodiaResponse" type="tns:getAllPluginIDCustodiaResponse" />
<xs:element name="getCustodiaPolicy" type="tns:getCustodiaPolicy" />
<xs:element name="getCustodiaPolicyResponse" type="tns:getCustodiaPolicyResponse" />
<xs:element name="getDefaultCustodiaInfo" type="tns:getDefaultCustodiaInfo" />
<xs:element name="getDefaultCustodiaInfoResponse" type="tns:getDefaultCustodiaInfoResponse" />
<xs:element name="getEntitatID" type="tns:getEntitatID" />
<xs:element name="getEntitatIDResponse" type="tns:getEntitatIDResponse" />
<xs:element name="getSupportedBarCodeTypes" type="tns:getSupportedBarCodeTypes" />
<xs:element name="getSupportedBarCodeTypesResponse" type="tns:getSupportedBarCodeTypesResponse" />
<xs:element name="getSupportedLanguages" type="tns:getSupportedLanguages" />
<xs:element name="getSupportedLanguagesResponse" type="tns:getSupportedLanguagesResponse" />
<xs:element name="getSupportedSignatureAlgorithms" type="tns:getSupportedSignatureAlgorithms" />
<xs:element name="getSupportedSignatureAlgorithmsResponse" type="tns:getSupportedSignatureAlgorithmsResponse" />
<xs:element name="getSupportedSignatureTypes" type="tns:getSupportedSignatureTypes" />
<xs:element name="getSupportedSignatureTypesResponse" type="tns:getSupportedSignatureTypesResponse" />
<xs:element name="getTimeStampPolicy" type="tns:getTimeStampPolicy" />
<xs:element name="getTimeStampPolicyResponse" type="tns:getTimeStampPolicyResponse" />
<xs:element name="getVersion" type="tns:getVersion" />
<xs:element name="getVersionResponse" type="tns:getVersionResponse" />
<xs:element name="getVersionWs" type="tns:getVersionWs" />
<xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse" />
<xs:element name="passarelaCommonInfoSignatureWs" type="tns:passarelaCommonInfoSignature" />
<xs:element name="passarelaFileInfoSignatureWs" type="tns:passarelaFileInfoSignature" />
<xs:element name="passarelaFullResultsWs" type="tns:passarelaFullResults" />
<xs:element name="passarelaSignaturesSetWs" type="tns:passarelaSignaturesSet" />
<xs:element name="passarelaSignaturesTableHeaderWs" type="tns:passarelaSignaturesTableHeader" />
<xs:element name="providesTimeStampGenerator" type="tns:providesTimeStampGenerator" />
<xs:element name="providesTimeStampGeneratorResponse" type="tns:providesTimeStampGeneratorResponse" />
<xs:element name="signDocuments" type="tns:signDocuments" />
<xs:element name="signDocumentsResponse" type="tns:signDocumentsResponse" />
<xs:complexType name="getTimeStampPolicy">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getTimeStampPolicyResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsI18NTranslation">
<xs:sequence>
<xs:element minOccurs="0" name="code" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="args" type="tns:wsI18NArgument" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="wsI18NArgument">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:string" />
<xs:element name="translate" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getEntitatID">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getEntitatIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getVersionWs">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionWsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSupportedBarCodeTypes">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getSupportedBarCodeTypesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSupportedSignatureAlgorithms">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:long" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSupportedSignatureAlgorithmsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getDefaultCustodiaInfo">
<xs:sequence>
<xs:element minOccurs="0" name="title" type="xs:string" />
<xs:element minOccurs="0" name="language" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getDefaultCustodiaInfoResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:custodiaInfoBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="custodiaInfoBean">
<xs:sequence>
<xs:element minOccurs="0" name="codiBarresID" type="xs:string" />
<xs:element name="codiBarresPosicioPaginaID" type="xs:long" />
<xs:element minOccurs="0" name="codiBarresText" type="xs:string" />
<xs:element minOccurs="0" name="custodiaDocumentID" type="xs:string" />
<xs:element name="custodiaInfoID" type="xs:long" />
<xs:element minOccurs="0" name="custodiaPluginParameters" type="xs:string" />
<xs:element name="custodiar" type="xs:boolean" />
<xs:element minOccurs="0" name="dataCustodia" type="xs:dateTime" />
<xs:element name="editable" type="xs:boolean" />
<xs:element minOccurs="0" name="entitatID" type="xs:string" />
<xs:element minOccurs="0" name="missatge" type="xs:string" />
<xs:element name="missatgePosicioPaginaID" type="xs:long" />
<xs:element minOccurs="0" name="nomPlantilla" type="xs:string" />
<xs:element minOccurs="0" name="pagines" type="xs:string" />
<xs:element name="pluginID" type="xs:long" />
<xs:element minOccurs="0" name="titolPeticio" type="xs:string" />
<xs:element minOccurs="0" name="urlFitxerCustodiat" type="xs:string" />
<xs:element minOccurs="0" name="usuariAplicacioID" type="xs:string" />
<xs:element minOccurs="0" name="usuariEntitatID" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="providesTimeStampGenerator">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:long" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg2" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="providesTimeStampGeneratorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getVersion">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllCustodiaInfoTemplates">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getAllCustodiaInfoTemplatesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:custodiaInfoBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="signDocuments">
<xs:sequence>
<xs:element minOccurs="0" name="signaturesSet" type="tns:passarelaSignaturesSet" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaSignaturesSet">
<xs:sequence>
<xs:element minOccurs="0" name="signaturesSetID" type="xs:string" />
<xs:element minOccurs="0" name="expiryDate" type="xs:dateTime" />
<xs:element minOccurs="0" name="commonInfoSignature" type="tns:passarelaCommonInfoSignature" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="fileInfoSignatureArray" nillable="true" type="tns:passarelaFileInfoSignature" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaCommonInfoSignature">
<xs:sequence>
<xs:element minOccurs="0" name="languageUI" type="xs:string" />
<xs:element minOccurs="0" name="filtreCertificats" type="xs:string" />
<xs:element name="usePortafibCertificateFilter" type="xs:boolean" />
<xs:element minOccurs="0" name="username" type="xs:string" />
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
<xs:element minOccurs="0" name="urlFinal" type="xs:string" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="acceptedPlugins" nillable="true" type="xs:long" />
<xs:element minOccurs="0" name="policyInfoSignature" type="tns:passarelaPolicyInfoSignature" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaPolicyInfoSignature">
<xs:sequence>
<xs:element minOccurs="0" name="policyIdentifier" type="xs:string" />
<xs:element minOccurs="0" name="policyIdentifierHash" type="xs:string" />
<xs:element minOccurs="0" name="policyIdentifierHashAlgorithm" type="xs:string" />
<xs:element minOccurs="0" name="policyUrlDocument" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaFileInfoSignature">
<xs:sequence>
<xs:element minOccurs="0" name="fileToSign" type="tns:fitxerBean" />
<xs:element minOccurs="0" name="signID" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
<xs:element minOccurs="0" name="reason" type="xs:string" />
<xs:element minOccurs="0" name="location" type="xs:string" />
<xs:element minOccurs="0" name="signerEmail" type="xs:string" />
<xs:element name="signNumber" type="xs:int" />
<xs:element minOccurs="0" name="languageSign" type="xs:string" />
<xs:element minOccurs="0" name="signType" type="xs:string" />
<xs:element minOccurs="0" name="signAlgorithm" type="xs:string" />
<xs:element name="signMode" type="xs:int" />
<xs:element name="signaturesTableLocation" type="xs:int" />
<xs:element minOccurs="0" name="signaturesTableHeader" type="tns:passarelaSignaturesTableHeader" />
<xs:element minOccurs="0" name="secureVerificationCodeStampInfo" type="tns:passarelaSecureVerificationCodeStampInfo" />
<xs:element name="useTimeStamp" type="xs:boolean" />
<xs:element minOccurs="0" name="custodiaInfo" type="tns:custodiaInfoBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="fitxerBean">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="xs:base64Binary" />
<xs:element minOccurs="0" name="descripcio" type="xs:string" />
<xs:element minOccurs="0" name="encryptedFileID" type="xs:string" />
<xs:element name="fitxerID" type="xs:long" />
<xs:element minOccurs="0" name="mime" type="xs:string" />
<xs:element minOccurs="0" name="nom" type="xs:string" />
<xs:element name="tamany" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaSignaturesTableHeader">
<xs:sequence>
<xs:element minOccurs="0" name="logoJpeg" type="xs:base64Binary" />
<xs:element minOccurs="0" name="title" type="xs:string" />
<xs:element minOccurs="0" name="titleFieldLabel" type="xs:string" />
<xs:element minOccurs="0" name="titleFieldValue" type="xs:string" />
<xs:element minOccurs="0" name="descriptionFieldLabel" type="xs:string" />
<xs:element minOccurs="0" name="descriptionFieldValue" type="xs:string" />
<xs:element minOccurs="0" name="signatureLabel" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaSecureVerificationCodeStampInfo">
<xs:sequence>
<xs:element name="barCodePosition" type="xs:int" />
<xs:element minOccurs="0" name="barCodeText" type="xs:string" />
<xs:element minOccurs="0" name="barCodeType" type="xs:string" />
<xs:element minOccurs="0" name="message" type="xs:string" />
<xs:element name="messagePosition" type="xs:int" />
<xs:element minOccurs="0" name="pages" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="signDocumentsResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:passarelaFullResults" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaFullResults">
<xs:sequence>
<xs:element minOccurs="0" name="signaturesSetStatus" type="tns:passarelaSignatureStatus" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="signResults" nillable="true" type="tns:passarelaSignatureResult" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaSignatureStatus">
<xs:sequence>
<xs:element minOccurs="0" name="errorMessage" type="xs:string" />
<xs:element minOccurs="0" name="errorStackTrace" type="xs:string" />
<xs:element name="status" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="passarelaSignatureResult">
<xs:complexContent>
<xs:extension base="tns:passarelaSignatureStatus">
<xs:sequence>
<xs:element minOccurs="0" name="signID" type="xs:string" />
<xs:element minOccurs="0" name="signedFile" type="tns:fitxerBean" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="wsFieldValidationError">
<xs:sequence>
<xs:element name="label" type="xs:string" />
<xs:element name="field" type="xs:string" />
<xs:element name="translation" type="tns:wsI18NTranslation" />
<xs:element name="error" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSupportedLanguages">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getSupportedLanguagesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getAllPluginIDCustodia">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getAllPluginIDCustodiaResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSupportedSignatureTypes">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:long" />
<xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getSupportedSignatureTypesResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="downloadFileUsingEncryptedFileID">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="downloadFileUsingEncryptedFileIDResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:fitxerBean" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="getCustodiaPolicy">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getCustodiaPolicyResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:element name="WsI18NError" type="tns:WsI18NError" />
<xs:complexType name="WsI18NError">
<xs:sequence>
<xs:element name="translation" nillable="true" type="tns:wsI18NTranslation" />
</xs:sequence>
</xs:complexType>
<xs:element name="WsValidationErrors" type="tns:WsValidationErrors" />
<xs:complexType name="WsValidationErrors">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="fieldFaults" type="tns:wsFieldValidationError" />
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getTimeStampPolicyResponse">
    <wsdl:part element="tns:getTimeStampPolicyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsValidationException">
    <wsdl:part element="tns:WsValidationErrors" name="WsValidationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultCustodiaInfoResponse">
    <wsdl:part element="tns:getDefaultCustodiaInfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCustodiaInfoTemplates">
    <wsdl:part element="tns:getAllCustodiaInfoTemplates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatIDResponse">
    <wsdl:part element="tns:getEntitatIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWs">
    <wsdl:part element="tns:getVersionWs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEntitatID">
    <wsdl:part element="tns:getEntitatID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPluginIDCustodiaResponse">
    <wsdl:part element="tns:getAllPluginIDCustodiaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedBarCodeTypes">
    <wsdl:part element="tns:getSupportedBarCodeTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="WsI18NException">
    <wsdl:part element="tns:WsI18NError" name="WsI18NException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="signDocumentsResponse">
    <wsdl:part element="tns:signDocumentsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersion">
    <wsdl:part element="tns:getVersion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTimeStampPolicy">
    <wsdl:part element="tns:getTimeStampPolicy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part element="tns:getVersionWsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedSignatureAlgorithmsResponse">
    <wsdl:part element="tns:getSupportedSignatureAlgorithmsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguages">
    <wsdl:part element="tns:getSupportedLanguages" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustodiaPolicyResponse">
    <wsdl:part element="tns:getCustodiaPolicyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllPluginIDCustodia">
    <wsdl:part element="tns:getAllPluginIDCustodia" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCustodiaInfoTemplatesResponse">
    <wsdl:part element="tns:getAllCustodiaInfoTemplatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="providesTimeStampGenerator">
    <wsdl:part element="tns:providesTimeStampGenerator" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedSignatureAlgorithms">
    <wsdl:part element="tns:getSupportedSignatureAlgorithms" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCustodiaPolicy">
    <wsdl:part element="tns:getCustodiaPolicy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedSignatureTypesResponse">
    <wsdl:part element="tns:getSupportedSignatureTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDefaultCustodiaInfo">
    <wsdl:part element="tns:getDefaultCustodiaInfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedLanguagesResponse">
    <wsdl:part element="tns:getSupportedLanguagesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileID">
    <wsdl:part element="tns:downloadFileUsingEncryptedFileID" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedBarCodeTypesResponse">
    <wsdl:part element="tns:getSupportedBarCodeTypesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedSignatureTypes">
    <wsdl:part element="tns:getSupportedSignatureTypes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadFileUsingEncryptedFileIDResponse">
    <wsdl:part element="tns:downloadFileUsingEncryptedFileIDResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="providesTimeStampGeneratorResponse">
    <wsdl:part element="tns:providesTimeStampGeneratorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="tns:getVersionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="signDocuments">
    <wsdl:part element="tns:signDocuments" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PortaFIBPassarelaDeFirmaEnServidorWs">
    <wsdl:operation name="getTimeStampPolicy">
      <wsdl:input message="tns:getTimeStampPolicy" name="getTimeStampPolicy">
    </wsdl:input>
      <wsdl:output message="tns:getTimeStampPolicyResponse" name="getTimeStampPolicyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEntitatID">
      <wsdl:input message="tns:getEntitatID" name="getEntitatID">
    </wsdl:input>
      <wsdl:output message="tns:getEntitatIDResponse" name="getEntitatIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <wsdl:input message="tns:getVersionWs" name="getVersionWs">
    </wsdl:input>
      <wsdl:output message="tns:getVersionWsResponse" name="getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedBarCodeTypes">
      <wsdl:input message="tns:getSupportedBarCodeTypes" name="getSupportedBarCodeTypes">
    </wsdl:input>
      <wsdl:output message="tns:getSupportedBarCodeTypesResponse" name="getSupportedBarCodeTypesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedSignatureAlgorithms">
      <wsdl:input message="tns:getSupportedSignatureAlgorithms" name="getSupportedSignatureAlgorithms">
    </wsdl:input>
      <wsdl:output message="tns:getSupportedSignatureAlgorithmsResponse" name="getSupportedSignatureAlgorithmsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDefaultCustodiaInfo">
      <wsdl:input message="tns:getDefaultCustodiaInfo" name="getDefaultCustodiaInfo">
    </wsdl:input>
      <wsdl:output message="tns:getDefaultCustodiaInfoResponse" name="getDefaultCustodiaInfoResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="providesTimeStampGenerator">
      <wsdl:input message="tns:providesTimeStampGenerator" name="providesTimeStampGenerator">
    </wsdl:input>
      <wsdl:output message="tns:providesTimeStampGeneratorResponse" name="providesTimeStampGeneratorResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersion" name="getVersion">
    </wsdl:input>
      <wsdl:output message="tns:getVersionResponse" name="getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCustodiaInfoTemplates">
      <wsdl:input message="tns:getAllCustodiaInfoTemplates" name="getAllCustodiaInfoTemplates">
    </wsdl:input>
      <wsdl:output message="tns:getAllCustodiaInfoTemplatesResponse" name="getAllCustodiaInfoTemplatesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="signDocuments">
      <wsdl:input message="tns:signDocuments" name="signDocuments">
    </wsdl:input>
      <wsdl:output message="tns:signDocumentsResponse" name="signDocumentsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsValidationException" name="WsValidationException">
    </wsdl:fault>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <wsdl:input message="tns:getSupportedLanguages" name="getSupportedLanguages">
    </wsdl:input>
      <wsdl:output message="tns:getSupportedLanguagesResponse" name="getSupportedLanguagesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPluginIDCustodia">
      <wsdl:input message="tns:getAllPluginIDCustodia" name="getAllPluginIDCustodia">
    </wsdl:input>
      <wsdl:output message="tns:getAllPluginIDCustodiaResponse" name="getAllPluginIDCustodiaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedSignatureTypes">
      <wsdl:input message="tns:getSupportedSignatureTypes" name="getSupportedSignatureTypes">
    </wsdl:input>
      <wsdl:output message="tns:getSupportedSignatureTypesResponse" name="getSupportedSignatureTypesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <wsdl:input message="tns:downloadFileUsingEncryptedFileID" name="downloadFileUsingEncryptedFileID">
    </wsdl:input>
      <wsdl:output message="tns:downloadFileUsingEncryptedFileIDResponse" name="downloadFileUsingEncryptedFileIDResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustodiaPolicy">
      <wsdl:input message="tns:getCustodiaPolicy" name="getCustodiaPolicy">
    </wsdl:input>
      <wsdl:output message="tns:getCustodiaPolicyResponse" name="getCustodiaPolicyResponse">
    </wsdl:output>
      <wsdl:fault message="tns:WsI18NException" name="WsI18NException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortaFIBPassarelaDeFirmaEnServidorWsServiceSoapBinding" type="tns:PortaFIBPassarelaDeFirmaEnServidorWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getEntitatID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getEntitatID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEntitatIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeStampPolicy">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getTimeStampPolicy">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getTimeStampPolicyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionWs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedBarCodeTypes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedBarCodeTypes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedBarCodeTypesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedSignatureAlgorithms">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedSignatureAlgorithms">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedSignatureAlgorithmsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getDefaultCustodiaInfo">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getDefaultCustodiaInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getDefaultCustodiaInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="providesTimeStampGenerator">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="providesTimeStampGenerator">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="providesTimeStampGeneratorResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllCustodiaInfoTemplates">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllCustodiaInfoTemplates">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllCustodiaInfoTemplatesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersion">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signDocuments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="signDocuments">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="signDocumentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsValidationException">
        <soap:fault name="WsValidationException" use="literal" />
      </wsdl:fault>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllPluginIDCustodia">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getAllPluginIDCustodia">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllPluginIDCustodiaResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedLanguages">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedLanguages">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedLanguagesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getSupportedSignatureTypes">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getSupportedSignatureTypes">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getSupportedSignatureTypesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="downloadFileUsingEncryptedFileID">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="downloadFileUsingEncryptedFileID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="downloadFileUsingEncryptedFileIDResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustodiaPolicy">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getCustodiaPolicy">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getCustodiaPolicyResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="WsI18NException">
        <soap:fault name="WsI18NException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortaFIBPassarelaDeFirmaEnServidorWsService">
    <wsdl:port binding="tns:PortaFIBPassarelaDeFirmaEnServidorWsServiceSoapBinding" name="PortaFIBPassarelaDeFirmaEnServidorWs">
      <soap:address location="http://IBIT151ANADAL:8080/portafib/ws/v1/PortaFIBPassarelaDeFirmaEnServidor" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>