ws/indra_api/indra-portafirmes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.indra.es/portafirmasws/cws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://www.indra.es/portafirmasws/cws" xmlns:intf="http://www.indra.es/portafirmasws/cws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://www.indra.es/portafirmasws/cws" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Application">
    <sequence>
     <element name="user" type="xsd:string"/>
     <element name="password" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="StateEnum">
    <restriction base="xsd:int">
     <enumeration value="0"/>
     <enumeration value="1"/>
     <enumeration value="2"/>
     <enumeration value="3"/>
    </restriction>
   </simpleType>
   <complexType name="Sender">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="ImportanceEnum">
    <restriction base="xsd:string">
     <enumeration value="low"/>
     <enumeration value="normal"/>
     <enumeration value="high"/>
    </restriction>
   </simpleType>
   <complexType name="Format">
    <sequence>
     <element name="provider" type="xsd:string"/>
     <element name="template" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PdfPosition">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="format" type="impl:Format"/>
     <element maxOccurs="1" minOccurs="0" name="sheet" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="x_0" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="y_0" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="x_1" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="y_1" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="VerificationCode">
    <sequence>
     <element name="provider-id" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="value" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="pdf-position" nillable="true" type="impl:PdfPosition"/>
    </sequence>
   </complexType>
   <complexType name="ExternalIDs">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="logical-id" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="verification-code" nillable="true" type="impl:VerificationCode"/>
    </sequence>
   </complexType>
   <complexType name="DocumentAttributes">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="state" type="impl:StateEnum"/>
     <element maxOccurs="1" minOccurs="0" name="title" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="type" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="subject" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="extension" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="sender" type="impl:Sender"/>
     <element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="importance" type="impl:ImportanceEnum"/>
     <element maxOccurs="1" minOccurs="0" name="date-entry" nillable="true" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="date-limit" nillable="true" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="date-last-update" nillable="true" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="date-notice" nillable="true" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="number-annexes" nillable="true" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="sign-annexes" nillable="true" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="external-data" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="type-sign" nillable="true" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="is-file-sign" nillable="true" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="generate-visuals" nillable="true" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="external-ids" nillable="true" type="impl:ExternalIDs"/>
    </sequence>
   </complexType>
   <complexType name="ArchiveLocator">
    <sequence>
     <element name="repository-id" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="archive-uri" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="archive-version" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="repository-base" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="folder-name" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="file-path-name" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="signature-files-path-pattern" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="visual-file-path-name" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="retention-policy" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="signature-custody" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="SourceLocators">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="archive-locator" nillable="true" type="impl:ArchiveLocator"/>
    </sequence>
   </complexType>
   <complexType name="DestinationLocators">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="archive-locator" nillable="true" type="impl:ArchiveLocator"/>
    </sequence>
   </complexType>
   <complexType name="ArchiveMetadata">
    <sequence>
     <element name="name" type="xsd:string"/>
     <element name="value" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="profile" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArchiveMetadatas">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="archive-metadata" nillable="true" type="impl:ArchiveMetadata"/>
    </sequence>
   </complexType>
   <complexType name="ArchiveOptions">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="source-locators" nillable="true" type="impl:SourceLocators"/>
     <element maxOccurs="1" minOccurs="0" name="destination-locators" nillable="true" type="impl:DestinationLocators"/>
     <element maxOccurs="1" minOccurs="0" name="archive-metadatas" nillable="true" type="impl:ArchiveMetadatas"/>
    </sequence>
   </complexType>
   <complexType name="Annex">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="description" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="extension" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="reference" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="sign-annex" nillable="true" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="sender" type="impl:Sender"/>
     <element maxOccurs="1" minOccurs="0" name="external-ids" nillable="true" type="impl:ExternalIDs"/>
     <element maxOccurs="1" minOccurs="0" name="archive-options" nillable="true" type="impl:ArchiveOptions"/>
     <element maxOccurs="1" minOccurs="0" name="type-sign" nillable="true" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="is-file-sign" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="Annexes">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="annex" type="impl:Annex"/>
    </sequence>
   </complexType>
   <simpleType name="SignModeEnum">
    <restriction base="xsd:string">
     <enumeration value="attached"/>
     <enumeration value="detached"/>
    </restriction>
   </simpleType>
   <complexType abstract="true" name="Step">
    <sequence/>
   </complexType>
   <complexType name="Delegate">
    <sequence>
     <element name="id" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Delegates">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="delegate" type="impl:Delegate"/>
    </sequence>
   </complexType>
   <complexType name="Job">
    <sequence>
     <element name="id" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Substitute">
    <sequence>
     <element name="id" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="job" type="impl:Job"/>
    </sequence>
   </complexType>
   <complexType name="Substitutes">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="substitute" type="impl:Substitute"/>
    </sequence>
   </complexType>
   <complexType name="Certificate">
    <sequence>
     <element name="serialnumber" type="xsd:string"/>
     <element name="issuer" type="xsd:string"/>
     <element name="subject" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Rejection">
    <sequence>
     <element name="code" type="xsd:int"/>
     <element name="description" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SignerSignatureFiles">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="file" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="SignatureImage">
    <sequence>
     <element name="base64-data" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="mime-type" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <simpleType name="TypeEnum">
    <restriction base="xsd:string">
     <enumeration value="document"/>
     <enumeration value="annex"/>
    </restriction>
   </simpleType>
   <simpleType name="PdfTypeEnum">
    <restriction base="xsd:string">
     <enumeration value="invisible"/>
     <enumeration value="page-of-signatures"/>
     <enumeration value="defined"/>
    </restriction>
   </simpleType>
   <complexType name="SignatureImageDimensions">
    <sequence>
     <element name="width" type="xsd:string"/>
     <element name="height" type="xsd:string"/>
     <element name="x_padding" type="xsd:string"/>
     <element name="y_padding" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Position">
    <sequence>
     <element name="source" type="impl:TypeEnum"/>
     <element maxOccurs="1" minOccurs="0" name="reference" type="xsd:string"/>
     <element name="type" type="impl:PdfTypeEnum"/>
     <element maxOccurs="1" minOccurs="0" name="pdf-position" nillable="true" type="impl:PdfPosition"/>
     <element maxOccurs="1" minOccurs="0" name="signature-image-dimensions" nillable="true" type="impl:SignatureImageDimensions"/>
    </sequence>
   </complexType>
   <complexType name="Positions">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="positions" type="impl:Position"/>
    </sequence>
   </complexType>
   <complexType name="PdfAppearance">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="signature-image" nillable="true" type="impl:SignatureImage"/>
     <element maxOccurs="1" minOccurs="0" name="positions" type="impl:Positions"/>
    </sequence>
   </complexType>
   <complexType name="Signer">
    <sequence>
     <element name="id" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="name" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="email" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="check-cert" nillable="true" type="xsd:boolean"/>
     <element maxOccurs="1" minOccurs="0" name="date" type="xsd:dateTime"/>
     <element maxOccurs="1" minOccurs="0" name="delegates" type="impl:Delegates"/>
     <element maxOccurs="1" minOccurs="0" name="substitutes" type="impl:Substitutes"/>
     <element maxOccurs="1" minOccurs="0" name="job" type="impl:Job"/>
     <element maxOccurs="1" minOccurs="0" name="certificate" type="impl:Certificate"/>
     <element maxOccurs="1" minOccurs="0" name="rejection" type="impl:Rejection"/>
     <element maxOccurs="1" minOccurs="0" name="signature-files" nillable="true" type="impl:SignerSignatureFiles"/>
     <element maxOccurs="1" minOccurs="0" name="id-update" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="pdf-appearance" nillable="true" type="impl:PdfAppearance"/>
    </sequence>
   </complexType>
   <complexType name="Signers">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="signer" type="impl:Signer"/>
    </sequence>
   </complexType>
   <complexType name="DownloadStep">
    <complexContent>
     <extension base="impl:Step">
      <sequence>
       <element maxOccurs="1" minOccurs="0" name="minimal-signers" nillable="true" type="xsd:int"/>
       <element maxOccurs="1" minOccurs="0" name="signers-action" nillable="true" type="impl:Signers"/>
       <element maxOccurs="1" minOccurs="0" name="signers-reject" nillable="true" type="impl:Signers"/>
       <element maxOccurs="1" minOccurs="0" name="signers-none" nillable="true" type="impl:Signers"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UploadStep">
    <complexContent>
     <extension base="impl:Step">
      <sequence>
       <element maxOccurs="1" minOccurs="0" name="minimal-signers" nillable="true" type="xsd:int"/>
       <element name="signers" type="impl:Signers"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UpdateStep">
    <complexContent>
     <extension base="impl:Step">
      <sequence>
       <element name="signers" type="impl:Signers"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ListStep">
    <complexContent>
     <extension base="impl:Step">
      <sequence>
       <element maxOccurs="1" minOccurs="0" name="minimal-signers" nillable="true" type="xsd:int"/>
       <element maxOccurs="1" minOccurs="0" name="signers-action" nillable="true" type="impl:Signers"/>
       <element maxOccurs="1" minOccurs="0" name="signers-reject" nillable="true" type="impl:Signers"/>
       <element maxOccurs="1" minOccurs="0" name="signers-none" nillable="true" type="impl:Signers"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Steps">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="sign-mode" nillable="true" type="impl:SignModeEnum"/>
     <element maxOccurs="unbounded" name="step" type="impl:Step"/>
    </sequence>
   </complexType>
   <complexType name="UploadRequestDocument">
    <sequence>
     <element name="attributes" type="impl:DocumentAttributes"/>
     <element maxOccurs="1" minOccurs="0" name="archive-options" nillable="true" type="impl:ArchiveOptions"/>
     <element maxOccurs="1" minOccurs="0" name="annexes" type="impl:Annexes"/>
     <element name="steps" type="impl:Steps"/>
    </sequence>
   </complexType>
   <element name="upload-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
      <element name="document" type="impl:UploadRequestDocument"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="Result">
    <sequence>
     <element name="code" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="message" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="UploadResponseDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="upload-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element name="document" type="impl:UploadResponseDocument"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="DownloadRequestDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="download-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
      <element maxOccurs="1" minOccurs="0" name="download-documents" nillable="true" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="additional-info" nillable="true" type="xsd:boolean"/>
      <element maxOccurs="1" minOccurs="0" name="archive-info" nillable="true" type="xsd:boolean"/>
      <element name="document" type="impl:DownloadRequestDocument"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="SignatureFile">
    <sequence>
     <element name="index" type="xsd:int"/>
     <element name="type" type="impl:TypeEnum"/>
     <element name="number-signatures" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="reference" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="external-ids" nillable="true" type="impl:ExternalIDs"/>
     <element maxOccurs="1" minOccurs="0" name="archive-options" nillable="true" type="impl:ArchiveOptions"/>
    </sequence>
   </complexType>
   <complexType name="SignatureFiles">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="file" type="impl:SignatureFile"/>
    </sequence>
   </complexType>
   <complexType name="VisualFile">
    <sequence>
     <element name="index" type="xsd:int"/>
     <element name="type" type="impl:TypeEnum"/>
     <element maxOccurs="1" minOccurs="0" name="reference" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="external-ids" nillable="true" type="impl:ExternalIDs"/>
     <element maxOccurs="1" minOccurs="0" name="archive-options" nillable="true" type="impl:ArchiveOptions"/>
    </sequence>
   </complexType>
   <complexType name="VisualFiles">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="file" type="impl:VisualFile"/>
    </sequence>
   </complexType>
   <complexType name="DownloadResponseDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="attributes" type="impl:DocumentAttributes"/>
     <element maxOccurs="1" minOccurs="0" name="archive-options" nillable="true" type="impl:ArchiveOptions"/>
     <element maxOccurs="1" minOccurs="0" name="annexes" type="impl:Annexes"/>
     <element maxOccurs="1" minOccurs="0" name="signature-files" nillable="true" type="impl:SignatureFiles"/>
     <element maxOccurs="1" minOccurs="0" name="visual-files" nillable="true" type="impl:VisualFiles"/>
     <element name="steps" type="impl:Steps"/>
    </sequence>
   </complexType>
   <element name="download-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element name="document" type="impl:DownloadResponseDocument"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="UpdateRequestDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="attributes" type="impl:DocumentAttributes"/>
     <element maxOccurs="1" minOccurs="0" name="archive-options" nillable="true" type="impl:ArchiveOptions"/>
     <element maxOccurs="1" minOccurs="0" name="annexes" type="impl:Annexes"/>
     <element maxOccurs="1" minOccurs="0" name="steps" type="impl:Steps"/>
    </sequence>
   </complexType>
   <element name="update-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
      <element name="document" type="impl:UpdateRequestDocument"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="UpdateResponseDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="update-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element name="document" type="impl:UpdateResponseDocument"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="DeleteRequestDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="DeleteRequestDocuments">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="document" type="impl:DeleteRequestDocument"/>
    </sequence>
   </complexType>
   <simpleType name="CriteriaEnum">
    <restriction base="xsd:string">
     <enumeration value="state"/>
     <enumeration value="importance"/>
     <enumeration value="dateentry"/>
     <enumeration value="searchtype"/>
     <enumeration value="usercode"/>
     <enumeration value="applicationname"/>
    </restriction>
   </simpleType>
   <simpleType name="ConditionEnum">
    <restriction base="xsd:string">
     <enumeration value="in"/>
     <enumeration value="between"/>
     <enumeration value="equal"/>
     <enumeration value="notEqual"/>
     <enumeration value="greater"/>
     <enumeration value="greaterEqual"/>
     <enumeration value="less"/>
     <enumeration value="lessEqual"/>
    </restriction>
   </simpleType>
   <complexType name="Field">
    <sequence>
     <element name="name" type="impl:CriteriaEnum"/>
     <element name="condition" type="impl:ConditionEnum"/>
     <element name="value" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SearchCriterias">
    <sequence>
     <element maxOccurs="unbounded" name="search-criteria" nillable="true" type="impl:Field"/>
    </sequence>
   </complexType>
   <element name="delete-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
      <element maxOccurs="1" minOccurs="0" name="documents" type="impl:DeleteRequestDocuments"/>
      <element maxOccurs="1" minOccurs="0" name="search-criterias" nillable="true" type="impl:SearchCriterias"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="DeleteResponseDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="DeleteResponseDocuments">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="document" type="impl:DeleteResponseDocument"/>
    </sequence>
   </complexType>
   <element name="delete-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element maxOccurs="1" minOccurs="0" name="documents" type="impl:DeleteResponseDocuments"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="ListRequestDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="ListRequestDocuments">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="document" type="impl:ListRequestDocument"/>
    </sequence>
   </complexType>
   <element name="list-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
      <element maxOccurs="1" minOccurs="0" name="documents" type="impl:ListRequestDocuments"/>
      <element maxOccurs="1" minOccurs="0" name="search-criterias" nillable="true" type="impl:SearchCriterias"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="ListResponseDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="attributes" type="impl:DocumentAttributes"/>
     <element maxOccurs="1" minOccurs="0" name="archive-options" nillable="true" type="impl:ArchiveOptions"/>
    </sequence>
   </complexType>
   <complexType name="ListResponseDocuments">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="document" type="impl:ListResponseDocument"/>
    </sequence>
   </complexType>
   <element name="list-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element maxOccurs="1" minOccurs="0" name="documents" type="impl:ListResponseDocuments"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <element name="search-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
      <element maxOccurs="1" minOccurs="0" name="search-criterias" nillable="true" type="impl:SearchCriterias"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType abstract="true" name="SearchResult">
    <sequence/>
   </complexType>
   <complexType name="PendingDocuments">
    <sequence>
     <element name="owned" type="xsd:string"/>
     <element name="delegated" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="PendingResult">
    <complexContent>
     <extension base="impl:SearchResult">
      <sequence>
       <element name="pending-documents" nillable="true" type="impl:PendingDocuments"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <element name="search-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element name="search-result" nillable="true" type="impl:SearchResult"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <element name="listType-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
      <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="TypeDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="name" type="xsd:string"/>
     <element name="description" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="TypeDocuments">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="type" type="impl:TypeDocument"/>
    </sequence>
   </complexType>
   <element name="listType-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element maxOccurs="1" minOccurs="0" name="types" type="impl:TypeDocuments"/>
      <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <element name="listServerSigners-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="ServerSigner">
    <sequence>
     <element name="userCode" type="xsd:string"/>
     <element name="name" type="xsd:string"/>
     <element name="certificateSubject" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ServerSigners">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="serverSigner" type="impl:ServerSigner"/>
    </sequence>
   </complexType>
   <element name="listServerSigners-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element maxOccurs="1" minOccurs="0" name="server-signers" nillable="true" type="impl:ServerSigners"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <simpleType name="ModeTypeEnum">
    <restriction base="xsd:string">
     <enumeration value="attached"/>
     <enumeration value="embedded"/>
    </restriction>
   </simpleType>
   <simpleType name="ProfileEnum">
    <restriction base="xsd:string">
     <enumeration value="source"/>
     <enumeration value="signature"/>
     <enumeration value="visual"/>
    </restriction>
   </simpleType>
   <simpleType name="CodificationTypeEnum">
    <restriction base="xsd:string">
     <enumeration value="binary"/>
     <enumeration value="base64"/>
    </restriction>
   </simpleType>
   <complexType name="SignerID">
    <sequence>
     <element name="id" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SignersID">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="id" type="impl:SignerID"/>
    </sequence>
   </complexType>
   <complexType name="File">
    <sequence>
     <element name="index" type="xsd:int"/>
     <element name="type" type="impl:TypeEnum"/>
     <element maxOccurs="1" minOccurs="0" name="reference" type="xsd:string"/>
     <element name="profile" type="impl:ProfileEnum"/>
     <element name="file-format" nillable="true" type="impl:CodificationTypeEnum"/>
     <element maxOccurs="1" minOccurs="0" name="extension" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="mime-type" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="base64-data" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="number-signatures" nillable="true" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="signers-id" nillable="true" type="impl:SignersID"/>
    </sequence>
   </complexType>
   <complexType name="Files">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="file" type="impl:File"/>
    </sequence>
   </complexType>
   <complexType name="DownloadOptions">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="download-type" nillable="true" type="impl:ModeTypeEnum"/>
     <element maxOccurs="1" minOccurs="0" name="files" type="impl:Files"/>
    </sequence>
   </complexType>
   <complexType name="DownloadFileRequestDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="download-options" nillable="true" type="impl:DownloadOptions"/>
    </sequence>
   </complexType>
   <element name="download-file-request">
    <complexType>
     <sequence>
      <element name="application" type="impl:Application"/>
      <element name="document" type="impl:DownloadFileRequestDocument"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
   <complexType name="DownloadFileResponseDocument">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="files" type="impl:Files"/>
    </sequence>
   </complexType>
   <element name="download-file-response">
    <complexType>
     <sequence>
      <element name="result" type="impl:Result"/>
      <element name="document" type="impl:DownloadFileResponseDocument"/>
     </sequence>
     <attribute name="version" type="xsd:string"/>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="ListServerSignersResponse">

      <wsdl:part element="impl:listServerSigners-response" name="listServerSigners-response"/>

   </wsdl:message>

   <wsdl:message name="SearchDocumentsRequest">

      <wsdl:part element="impl:search-request" name="search-request"/>

   </wsdl:message>

   <wsdl:message name="ListServerSignersRequest">

      <wsdl:part element="impl:listServerSigners-request" name="listServerSigners-request"/>

   </wsdl:message>

   <wsdl:message name="UpdateDocumentRequest">

      <wsdl:part element="impl:update-request" name="update-request"/>

   </wsdl:message>

   <wsdl:message name="DownloadFileResponse">

      <wsdl:part element="impl:download-file-response" name="download-file-response"/>

   </wsdl:message>

   <wsdl:message name="ListTypeDocumentsResponse">

      <wsdl:part element="impl:listType-response" name="listType-response"/>

   </wsdl:message>

   <wsdl:message name="ListDocumentsRequest">

      <wsdl:part element="impl:list-request" name="list-request"/>

   </wsdl:message>

   <wsdl:message name="DownloadDocumentRequest">

      <wsdl:part element="impl:download-request" name="download-request"/>

   </wsdl:message>

   <wsdl:message name="DownloadDocumentResponse">

      <wsdl:part element="impl:download-response" name="download-response"/>

   </wsdl:message>

   <wsdl:message name="SearchDocumentsResponse">

      <wsdl:part element="impl:search-response" name="search-response"/>

   </wsdl:message>

   <wsdl:message name="DownloadFileRequest">

      <wsdl:part element="impl:download-file-request" name="download-file-request"/>

   </wsdl:message>

   <wsdl:message name="UpdateDocumentResponse">

      <wsdl:part element="impl:update-response" name="update-response"/>

   </wsdl:message>

   <wsdl:message name="UploadDocumentRequest">

      <wsdl:part element="impl:upload-request" name="upload-request"/>

   </wsdl:message>

   <wsdl:message name="DeleteDocumentsRequest">

      <wsdl:part element="impl:delete-request" name="delete-request"/>

   </wsdl:message>

   <wsdl:message name="DeleteDocumentsResponse">

      <wsdl:part element="impl:delete-response" name="delete-response"/>

   </wsdl:message>

   <wsdl:message name="ListTypeDocumentsRequest">

      <wsdl:part element="impl:listType-request" name="listType-request"/>

   </wsdl:message>

   <wsdl:message name="UploadDocumentResponse">

      <wsdl:part element="impl:upload-response" name="upload-response"/>

   </wsdl:message>

   <wsdl:message name="ListDocumentsResponse">

      <wsdl:part element="impl:list-response" name="list-response"/>

   </wsdl:message>

   <wsdl:portType name="Cws">

      <wsdl:operation name="UploadDocument" parameterOrder="upload-request">

         <wsdl:input message="impl:UploadDocumentRequest" name="UploadDocumentRequest"/>

         <wsdl:output message="impl:UploadDocumentResponse" name="UploadDocumentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="DownloadDocument" parameterOrder="download-request">

         <wsdl:input message="impl:DownloadDocumentRequest" name="DownloadDocumentRequest"/>

         <wsdl:output message="impl:DownloadDocumentResponse" name="DownloadDocumentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="UpdateDocument" parameterOrder="update-request">

         <wsdl:input message="impl:UpdateDocumentRequest" name="UpdateDocumentRequest"/>

         <wsdl:output message="impl:UpdateDocumentResponse" name="UpdateDocumentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="DeleteDocuments" parameterOrder="delete-request">

         <wsdl:input message="impl:DeleteDocumentsRequest" name="DeleteDocumentsRequest"/>

         <wsdl:output message="impl:DeleteDocumentsResponse" name="DeleteDocumentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="ListDocuments" parameterOrder="list-request">

         <wsdl:input message="impl:ListDocumentsRequest" name="ListDocumentsRequest"/>

         <wsdl:output message="impl:ListDocumentsResponse" name="ListDocumentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="SearchDocuments" parameterOrder="search-request">

         <wsdl:input message="impl:SearchDocumentsRequest" name="SearchDocumentsRequest"/>

         <wsdl:output message="impl:SearchDocumentsResponse" name="SearchDocumentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="ListTypeDocuments" parameterOrder="listType-request">

         <wsdl:input message="impl:ListTypeDocumentsRequest" name="ListTypeDocumentsRequest"/>

         <wsdl:output message="impl:ListTypeDocumentsResponse" name="ListTypeDocumentsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="ListServerSigners" parameterOrder="listServerSigners-request">

         <wsdl:input message="impl:ListServerSignersRequest" name="ListServerSignersRequest"/>

         <wsdl:output message="impl:ListServerSignersResponse" name="ListServerSignersResponse"/>

      </wsdl:operation>

      <wsdl:operation name="DownloadFile" parameterOrder="download-file-request">

         <wsdl:input message="impl:DownloadFileRequest" name="DownloadFileRequest"/>

         <wsdl:output message="impl:DownloadFileResponse" name="DownloadFileResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CWSSoapBinding" type="impl:Cws">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="UploadDocument">

         <wsdlsoap:operation soapAction="UploadDocument"/>

         <wsdl:input name="UploadDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="UploadDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="DownloadDocument">

         <wsdlsoap:operation soapAction="DownloadDocument"/>

         <wsdl:input name="DownloadDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="DownloadDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="UpdateDocument">

         <wsdlsoap:operation soapAction="UpdateDocument"/>

         <wsdl:input name="UpdateDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="UpdateDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="DeleteDocuments">

         <wsdlsoap:operation soapAction="DeleteDocuments"/>

         <wsdl:input name="DeleteDocumentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="DeleteDocumentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListDocuments">

         <wsdlsoap:operation soapAction="ListDocuments"/>

         <wsdl:input name="ListDocumentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ListDocumentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="SearchDocuments">

         <wsdlsoap:operation soapAction="SearchDocuments"/>

         <wsdl:input name="SearchDocumentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="SearchDocumentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListTypeDocuments">

         <wsdlsoap:operation soapAction="ListTypeDocuments"/>

         <wsdl:input name="ListTypeDocumentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ListTypeDocumentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="ListServerSigners">

         <wsdlsoap:operation soapAction="ListServerSigners"/>

         <wsdl:input name="ListServerSignersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="ListServerSignersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="DownloadFile">

         <wsdlsoap:operation soapAction="DownloadFile"/>

         <wsdl:input name="DownloadFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="DownloadFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CwsService">

      <wsdl:port binding="impl:CWSSoapBinding" name="CWS">

         <wsdlsoap:address location="http://tapplin2.test.lab:48080/portafirmasws/web/services/CWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
