ws/portafib_callback_api/src/main/resources/wsdl/PortaFIBCallBack_v1.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="PortaFIBCallBackWsService" targetNamespace="http://v1.server.callback.ws.portafib.caib.es/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://v1.server.callback.ws.portafib.caib.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://v1.server.callback.ws.portafib.caib.es/" xmlns:tns="http://v1.server.callback.ws.portafib.caib.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="event" type="tns:event" />
<xs:element name="eventResponse" type="tns:eventResponse" />
<xs:element name="getVersionWs" type="tns:getVersionWs" />
<xs:element name="getVersionWsResponse" type="tns:getVersionWsResponse" />
<xs:complexType name="getVersionWs">
<xs:sequence />
</xs:complexType>
<xs:complexType name="getVersionWsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="event">
<xs:sequence>
<xs:element minOccurs="0" name="event" type="tns:portaFIBEvent" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="portaFIBEvent">
<xs:sequence>
<xs:element minOccurs="0" name="actor" type="tns:actor" />
<xs:element minOccurs="0" name="applicationID" type="xs:string" />
<xs:element minOccurs="0" name="entityID" type="xs:string" />
<xs:element minOccurs="0" name="eventDate" type="xs:dateTime" />
<xs:element name="eventTypeID" type="xs:int" />
<xs:element minOccurs="0" name="sign" type="tns:sign" />
<xs:element minOccurs="0" name="signingRequest" type="tns:signingRequest" />
<xs:element name="version" type="xs:int" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="actor">
<xs:sequence>
<xs:element minOccurs="0" name="administrationID" type="xs:string" />
<xs:element minOccurs="0" name="ID" type="xs:string" />
<xs:element minOccurs="0" name="name" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="sign">
<xs:sequence>
<xs:element name="ID" type="xs:long" />
<xs:element minOccurs="0" name="issuer" type="xs:string" />
<xs:element minOccurs="0" name="serialNumber" type="xs:integer" />
<xs:element minOccurs="0" name="subject" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="signingRequest">
<xs:sequence>
<xs:element minOccurs="0" name="additionalInformation" type="xs:string" />
<xs:element minOccurs="0" name="custodyURL" type="xs:string" />
<xs:element name="ID" type="xs:long" />
<xs:element minOccurs="0" name="rejectionReason" type="xs:string" />
<xs:element name="state" type="xs:int" />
<xs:element minOccurs="0" name="title" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="eventResponse">
<xs:sequence />
</xs:complexType>
<xs:element name="CallBackFault" type="tns:CallBackFault" />
<xs:complexType name="CallBackFault">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getVersionWs">
    <wsdl:part element="tns:getVersionWs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CallBackException">
    <wsdl:part element="tns:CallBackFault" name="CallBackException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eventResponse">
    <wsdl:part element="tns:eventResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="event">
    <wsdl:part element="tns:event" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionWsResponse">
    <wsdl:part element="tns:getVersionWsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PortaFIBCallBackWs">
    <wsdl:operation name="getVersionWs">
      <wsdl:input message="tns:getVersionWs" name="getVersionWs">
    </wsdl:input>
      <wsdl:output message="tns:getVersionWsResponse" name="getVersionWsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="event">
      <wsdl:input message="tns:event" name="event">
    </wsdl:input>
      <wsdl:output message="tns:eventResponse" name="eventResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CallBackException" name="CallBackException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortaFIBCallBackWsServiceSoapBinding" type="tns:PortaFIBCallBackWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVersionWs">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getVersionWs">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getVersionWsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="event">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="event">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="eventResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CallBackException">
        <soap:fault name="CallBackException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortaFIBCallBackWsService">
    <wsdl:port binding="tns:PortaFIBCallBackWsServiceSoapBinding" name="PortaFIBCallBackWs">
      <soap:address location="http://localhost:8080/portafib/cb/v1/PortaFIBCallBack" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>